<template>
  <div class="banner-page">
    <div class="card">
      <div class="card-title title row mb-0 pb-3">
        <div class="col-6">
          <span class="text-title">Banner Management</span>
        </div>
        <div class="col-6" style="text-align: right">
          <button type="button" class="btn btn-dark" @click.prevent="createData">Create</button>
        </div>
      </div>

      <div class="card-body body">
        <div class="table-responsive">
          <vue-perfect-scroll-bar>
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="text-center">Active</th>
                <th class="text-center">Image</th>
                <th>Priority</th>
                <th>Link</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th class="text-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="list in listData">
                <td class="text-center">
                  <input type="checkbox" @change="checkActive(list.id)"
                         v-model="list.is_active">
                </td>
                <td class="text-center">
                  <div v-if="list.media !== null">
                    <img :src="list.media.urls['480x'].path" class="image-size" v-if="list.media.urls">
                    <video class="video-size" controls v-else>
                      <source :src="list.media.origin" :type="list.media.mime">
                    </video>
                  </div>
                </td>
                <td>{{list.priority}}</td>
                <td>{{list.url}}</td>
                <td>{{list.start_date | moment('YYYY-MM-DD')}}</td>
                <td>{{list.end_date | moment('YYYY-MM-DD')}}</td>
                <td class="text-center">
                  <button class="btn btn-outline-dark" @click="deleteData(list.id)">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </vue-perfect-scroll-bar>

          <!--          <ul class="pagination justify-content-end mt-2">-->
          <!--            <li class="page-item" :class="{'disabled': meta.current_page === 1}">-->
          <!--              <a class="page-link" href="#" @click.prevent="changePageNumber(1)">First</a>-->
          <!--            </li>-->

          <!--            <li class="page-item" :class="{'disabled': meta.current_page - 1 < 1}">-->
          <!--              <a class="page-link" href="#" @click.prevent="changePageNumber(meta.current_page - 1)">&laquo;</a>-->
          <!--            </li>-->

          <!--            <li class="page-item" :class="{'active': pageNumber === range}" v-for="range in rangeWithDots">-->
          <!--              <a class="page-link" href="#" v-if="range === '...'">{{ range }}</a>-->
          <!--              <a class="page-link" href="#" v-else @click.prevent="changePageNumber(range)">{{ range }}</a>-->
          <!--            </li>-->

          <!--            <li class="page-item" :class="{'disabled': meta.current_page + 1 > meta.last_page}">-->
          <!--              <a class="page-link" href="#" @click.prevent="changePageNumber(meta.current_page + 1)">&raquo;</a>-->
          <!--            </li>-->
          <!--            <li class="page-item"-->
          <!--                :class="{'disabled': meta.current_page + 1 > meta.last_page}">-->
          <!--              <a class="page-link" href="#" @click.prevent="changePageNumber(meta.last_page)">Last</a></li>-->
          <!--          </ul>-->
        </div>
      </div>
    </div>
    <modal-banner v-if="showModalBanner === true" v-on:close="closeModalBanner" v-on:confirm="loadData"></modal-banner>
  </div>
</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import {mapState} from 'vuex'
  import ModalBanner from '../../components/ModalBanner'

  export default {
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      ModalBanner,
    },
    watch: {
      textSearch() {
        if (this.interval) {
          clearInterval(this.interval)
        }
        this.interval = setInterval(() => {
          this.pageNumber = 1
          this.searchData()
          clearInterval(this.interval)
        }, 1000)
      }
    },
    data() {
      return {
        textSearch: '',
        interval: null,
        is_show_filter_customers: false,
        province: '',
        age: '0',
        date_from: '',
        date_to: '',
        customerList: [],
        pageNumber: 1,
        meta: {},
        rangeWithDots: [],
        showModalBanner: false,
        listData: [],
      }
    },
    computed: {
      ...mapState({
        user: state => state.user,
        banner: state => state.banner,
      }),
    },
    methods: {
      checkActive(id) {
        $.confirm({
          title: 'ยืนยัน',
          content: 'คุณต้องเปลี่ยนสถานะการใช้งาน?',
          buttons: {
            pay: {
              btnClass: 'btn-dark',
              text: 'ตกลง',
              action: () => {
                this.$store.dispatch('banner/checkActiveBanner', {
                  id: id,
                }).then(() => {
                  this.loadData()
                })
              }
            },
            cancel: {
              btnClass: 'btn-danger',
              text: 'ยกเลิก',
              action: () => {
                return this.loadData()
              }
            }
          }
        })
      },
      closeModalBanner() {
        this.showModalBanner = false
      },
      createData() {
        this.showModalBanner = true
      },
      deleteData(id) {
        $.confirm({
          title: 'ยืนยัน',
          content: 'คุณต้องการลบข้อมูลหรือไม่?',
          buttons: {
            pay: {
              btnClass: 'btn-danger',
              text: 'ตกลง',
              action: () => {
                this.$store.dispatch('banner/deleteBanner', {
                  id: id,
                }).then((data) => {
                  this.loadData()
                }).catch((error) => {
                  this.handleCatch(error)
                })
              }

            },
            cancel: {
              btnClass: 'btn-dark',
              text: 'ยกเลิก',
              action: () => {
                return
              }
            }
          }
        })
      },
      searchData() {
        this.loadData()
      },
      loadData() {
        this.showModalBanner = false
        this.$store.dispatch('banner/getBanner', {
          page: this.pageNumber,
          // text: this.textSearch,
          // date_to: this.date_to,
          // date_from: this.date_from,
        }).then((data) => {
          this.listData = _.each(this.banner.data, (item) => {
            item.is_active = (item.is_active === 1 ? true : false)
          })
          // this.pagination()
        }).catch((error) => {
          this.handleCatch(error)
        })
      },
      // changePageNumber(number) {
      //   this.pageNumber = number
      //   this.loadMemberPage()
      // },
      // changePage(url) {
      //   let myRegex = /(page=)(\d+)/g;
      //   let myArray = myRegex.exec(url);
      //   this.pageNumber = parseInt(_.last(myArray))
      //
      //   this.loadMemberPage()
      // },
      // pagination() {
      //   let current = this.redemption1.meta.current_page
      //   let last = this.redemption1.meta.last_page
      //   let delta = 3
      //   let left = current - delta
      //   let right = current + delta + 1
      //   let min = delta * 2 + 1
      //   let range = []
      //   this.rangeWithDots = []
      //   let l
      //
      //   for (let i = 1; i <= last; i++) {
      //     if (i >= left && i < right) {
      //       range.push(i)
      //     }
      //   }
      //
      //   for (let i of range) {
      //     if (l) {
      //       if (i - l === 2) {
      //         this.rangeWithDots.push(l + 1)
      //       } else if (i - l !== 1) {
      //         this.rangeWithDots.push('...')
      //       }
      //     }
      //     this.rangeWithDots.push(i)
      //     l = i
      //   }
      // },
    },
    beforeMount(){
      this.$store.dispatch('user/mount').then((data) => {

      })
    },
    mounted() {
      this.loadData()
    }
  }
</script>

<style lang="scss" scoped>
  .banner-page {
    min-height: calc(100vh - 65px);
    background-color: #f6f8fa;
    padding: 1rem;

    table tr th {
      white-space: nowrap !important;
      /*text-align: center;*/
    }

    table tr td {
      white-space: nowrap !important;
    }

    .image-size{
      height: 50px;
    }
    .video-size{
      height: 100px;
    }

    .icon {
      height: 14px;
      padding-right: 5px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;

      .text-title {
        flex: 0 0;
      }

      .action-title {
        flex: 0 0;
        display: flex;

        .box-input {
          position: relative;
          width: 310px;
          margin-right: 1rem;

          .icon {
            position: absolute;
            top: 12px;
            left: 12px;
            height: 16px;
          }

          .form-control {
            padding-left: 40px;
          }
        }

        .btn {
          display: flex;
          align-items: center;
          white-space: nowrap;

          .icon {
            height: 12px;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .body {
      .table {
        thead {
          font-weight: normal;
          color: #858585;
        }

        tbody {
          tr {
            td {
              vertical-align: inherit;

              &.action {
                .btn {
                  display: inline-flex;
                  align-items: center;
                  vertical-align: middle;
                  margin-right: 0.25rem;

                  .icon {
                    height: 12px;
                    margin-right: 0.25rem;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
</style>
