<template>
  <div class="matarial-point-setting">
    <div class="card">
      <div class="card-body body">
        <div class="row">
          <div class="col-lg-6 col-md-5 col-sm-12 mt-2">
            <span>Material Point Setting</span>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
            <input type="text" class="form-control" placeholder="Search by Material-Key, Type"
                   v-model="textSearch">
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12 mt-2">
            <button type="button" class="btn btn-dark w-100" @click="searchData">Search</button>
          </div>
        </div>
      </div>

      <div class="card-body body">
        <div class="table-responsive">
          <vue-perfect-scroll-bar class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Image</th>
                <th>Material - Key</th>
                <th>Material - Text</th>
                <th>Material sales text (EN)</th>
                <th>Material sales text (TH)</th>
                <th>Type - Text</th>
                <th>Point Privilege</th>
                <th style="text-align: center;">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="list in materialPointSetting.materialData">
                <td></td>
                <td>{{list.material_key}}</td>
                <td>{{list.material_text}}</td>
                <td>{{list.material_sales_text_en}}</td>
                <td>{{list.material_sales_text_th}}</td>
                <td>{{list.type_text}}</td>
                <td>{{list.point_privilege}}</td>
                <td style="text-align: center;">
                  <button class="btn btn-light" @click="editData(list.id, list.point_privilege, null)">Edit</button>
                </td>
              </tr>
              </tbody>
            </table>
          </vue-perfect-scroll-bar>
          <ul class="pagination justify-content-end mt-2">
            <li class="page-item"
                :class="{'disabled': materialPointSetting.firstPage === null || materialPointSetting.meta.current_page === 1}">
              <a class="page-link" href="#" @click.prevent="changePage(materialPointSetting.firstPage)">First</a></li>
            <li class="page-item" :class="{'disabled': materialPointSetting.previousPage === null}">
              <a class="page-link" href="#" @click.prevent="changePage(materialPointSetting.previousPage)">&laquo;</a>
            </li>

            <li class="page-item" :class="{'active': pageNumber === range}" v-for="range in rangeWithDots">
              <a class="page-link" href="#" v-if="range === '...'">{{ range }}</a>
              <a class="page-link" href="#" v-else @click.prevent="changePageNumber(range)">{{ range }}</a>
            </li>

            <li class="page-item" :class="{'disabled': materialPointSetting.nextPage === null}">
              <a class="page-link" href="#" @click.prevent="changePage(materialPointSetting.nextPage)">&raquo;</a>
            </li>
            <li class="page-item"
                :class="{'disabled': materialPointSetting.lastPage === null || materialPointSetting.meta.current_page === materialPointSetting.meta.last_page}">
              <a class="page-link" href="#" @click.prevent="changePage(materialPointSetting.lastPage)">Last</a></li>
          </ul>
        </div>
      </div>
    </div>
    <modal-edit-point v-if="modalEditMaterial" v-on:close="hideModal" :id="id" :point="point"
                      :image="image"></modal-edit-point>
    <!--    <loader v-if="permission.loading"></loader>-->
  </div>
</template>

<script>
    const moment = require('moment')
    import {mapState} from 'vuex'
    import Loader from '../../components/Loader'
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import ModalEditPoint from '../../components/ModalEditPoint'

    export default {
        watch: {
            // textSearch() {
            //   if (this.interval) {
            //     clearInterval(this.interval)
            //   }
            //   this.interval = setInterval(() => {
            //     this.loadPromotion()
            //     clearInterval(this.interval)
            //   }, 500)
            // }
        },

        data() {
            return {
                modalCreatePromotionShow: false,
                textSearch: '',
                pageNumber: 1,
                myPage: [],
                rangeWithDots: [],
                interval: null,
                modalEditMaterial: false,
                id: 0,
                point: 0,
                image: null
            }
        },
        computed: {
            ...mapState({
                materialPointSetting: state => state.materialPointSetting,
                user: state => state.user
            }),
        },
        methods: {
            editData(id, point, image) {
                this.id = id
                this.point = point
                this.image = image
                this.modalEditMaterial = true
            },
            hideModal() {
                this.modalEditMaterial = false
            },
            searchData() {
                this.loadData()
            },
            loadData() {
                this.$store.dispatch('materialPointSetting/getMaterialPointSetting', {
                    page: this.pageNumber,
                    q: this.textSearch
                }).then((data) => {
                    this.pagination()
                }).catch((error) => {
                    this.handleCatch(error)
                })
            },
            changePageNumber(number) {
                this.pageNumber = number
                this.loadData()
            },
            changePage(url) {
                let myRegex = /(page=)(\d+)/g;
                let myArray = myRegex.exec(url);
                this.pageNumber = parseInt(_.last(myArray))

                this.loadData()
            },
            pagination() {
                let current = this.materialPointSetting.meta.current_page
                let last = this.materialPointSetting.meta.last_page
                let delta = 3
                let left = current - delta
                let right = current + delta + 1
                let min = delta * 2 + 1
                let range = []
                this.rangeWithDots = []
                let l

                for (let i = 1; i <= last; i++) {
                    if (i >= left && i < right) {
                        range.push(i)
                    }
                }

                for (let i of range) {
                    if (l) {
                        if (i - l === 2) {
                            this.rangeWithDots.push(l + 1)
                        } else if (i - l !== 1) {
                            this.rangeWithDots.push('...')
                        }
                    }
                    this.rangeWithDots.push(i)
                    l = i
                }
            }
        },
        components: {
            Loader,
            'vue-perfect-scroll-bar': VuePerfectScrollbar,
            ModalEditPoint
        },
        mounted() {
            this.$store.dispatch('user/mount')
                .then(() => {
                    this.loadData()
                })
        }
    }
</script>

<style lang="scss">
  .matarial-point-setting {
    min-height: calc(100vh - 65px);
    background-color: #f6f8fa;
    padding: 1rem;

    table tr th {
      white-space: nowrap !important;
    }

    table tr td {
      white-space: nowrap !important;
    }

    .icon {
      height: 12px;
      margin-right: 0.25rem;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;

      .text-title {
        flex: 0 0;
      }

      .action-title {
        flex: 0 0;
        display: flex;

        .box-input {
          position: relative;
          width: 310px;
          margin-right: 1rem;

          .icon {
            position: absolute;
            top: 12px;
            left: 12px;
            height: 16px;
          }

          .form-control {
            padding-left: 40px;
          }
        }

        .btn {
          display: flex;
          align-items: center;

          .icon {
            height: 12px;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .body {
      .table {
        thead {
          font-weight: normal;
          color: #858585;
        }

        tbody {
          tr {
            td {
              vertical-align: inherit;

              &.action {
                .btn {
                  display: inline-flex;
                  align-items: center;
                  vertical-align: middle;
                  margin-right: 0.25rem;

                  .icon {
                    height: 12px;
                    margin-right: 0.25rem;
                  }
                }
              }
            }
          }

        }
      }
    }
  }

</style>
