<template>
  <div class="dashboard-page">
    <div class="row mb-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-lg-4 col-md-6 col-xs-12">
                <label for="dateFrom">From</label>
                <input type="date" id="dateFrom" class="form-control" v-model="dateFrom" :max="dateTo">
              </div>
              <div class="form-group col-lg-4 col-md-6 col-xs-12">
                <label for="dateTo">To</label>
                <input type="date" id="dateTo" class="form-control" v-model="dateTo" :min="dateFrom">
              </div>
              <div class="form-group col-lg-2 col-md-4 col-xs-6">
                <label for="btnSearch">&nbsp;</label>
                <button type="button" id="btnSearch" class="form-control btn btn-outline-dark"
                        @click.prevent="loadTemplate">Search
                </button>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="row" v-if="showGraph">
      <div :class="template.box_size" class="mb-3" v-for="template in templates">
        <div class="card" :style="makeStyle(template)" style="height: 100%;">
          <div class="card-body">
            <dashboard-summary :template="template" v-if="template.type === 'summary'"></dashboard-summary>
            <dashboard-chart :template="template"
                             v-if="template.type === 'chart' && template.sub_type === 'donut'"></dashboard-chart>
            <dashboard-chart-donut-only :template="template"
                             v-if="template.type === 'chart' && template.sub_type === 'donutOnly'"></dashboard-chart-donut-only>
            <dashboard-chart-donut-tooltip :template="template"
                             v-if="template.type === 'chart' && template.sub_type === 'donutTooltip'"></dashboard-chart-donut-tooltip>
            <dashboard-chart-bar :template="template"
                                 v-if="template.type === 'chart' && template.sub_type === 'bar'"></dashboard-chart-bar>
            <dashboard-chart-bar-negative :template="template"
                                 v-if="template.type === 'chart' && template.sub_type === 'barNegative'"></dashboard-chart-bar-negative>
            <dashboard-chart-line :template="template"
                                 v-if="template.type === 'chart' && template.sub_type === 'line'"></dashboard-chart-line>
            <dashboard-chart-pie :template="template"
                                 v-if="template.type === 'chart' && template.sub_type === 'pie'"></dashboard-chart-pie>
            <dashboard-chart-pie-only :template="template"
                                 v-if="template.type === 'chart' && template.sub_type === 'pieOnly'"></dashboard-chart-pie-only>
            <dashboard-table :template="template" v-if="template.type === 'table'"></dashboard-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {mapState} from 'vuex'
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import DashboardSummary from '../../components/dashboard/summary'
    import DashboardChart from '../../components/dashboard/chart'
    import DashboardChartDonutOnly from '../../components/dashboard/chartDonutOnly'
    import DashboardChartDonutTooltip from '../../components/dashboard/chartDonutTooltip'
    import DashboardChartPie from '../../components/dashboard/chartPie'
    import DashboardChartPieOnly from '../../components/dashboard/chartPieOnly'
    import DashboardChartBar from '../../components/dashboard/chartBar'
    import DashboardChartBarNegative from '../../components/dashboard/chartBarNegative'
    import DashboardChartLine from '../../components/dashboard/chartLine'
    import DashboardTable from '../../components/dashboard/table'

    const moment = require('moment')

    export default {
        computed: {
            ...mapState({
                dashboard: state => state.dashboard,
                // memberTier: state => state.master.memberTier,
            })
        },

        data() {
            return {
                dateFrom: moment().add(-6, 'day').format('YYYY-MM-DD'),
                dateTo: moment().format('YYYY-MM-DD'),
                data: {},
                templates: [],
                showGraph: false,
                monthNow: moment().format('MMMM'),
                totalMembers: 0,
                totalVoucher: 0,
                totalVoucherBaht: 0,
                totalPoint: 0,
                total_credit: 0,
                listNewMember: [],
                listBirthday: [],
                listSaleAmount: [],
                series: [0],
                chartOptions: {

                    colors: ['#ff6258', '#ffaf00', '#2295f3', '#18d895', '#ff6258', '#ffaf00', '#2295f3', '#18d895'],
                    labels: [''],
                    // labels: ['Discount', 'Get 200 Point', 'Get 150 Point', 'Get 2 Free 1'],
                    legend: {
                        show: false,
                        fontFamily: 'Prompt, sans-serif',
                        formatter: (val, data) => {
                            return val + ': <span style="color: #858585;">' + data.w.config.series[data.seriesIndex] + ' รายการ</span>'
                        },
                        fontSize: '18px',
                        floating: true,
                        horizontalAlign: 'left',
                    },
                    tooltip: {
                        enabled: false
                    },
                    plotOptions: {
                        pie: {
                            donut: {
                                size: '75%',
                                background: 'transparent',
                                labels: {
                                    show: true,
                                    name: {
                                        show: true,
                                        fontSize: '22px',
                                        fontFamily: 'Prompt, sans-serif',
                                        // color: undefined,
                                        offsetY: -10
                                    },
                                    value: {
                                        show: true,
                                        fontSize: '16px',
                                        fontFamily: 'Prompt, sans-serif',
                                        // color: undefined,
                                        offsetY: 16,
                                        formatter: function (val) {
                                            return val
                                        }
                                    },
                                    total: {
                                        show: true,
                                        label: 'Total',
                                        color: '#373d3f',
                                        formatter: function (w) {
                                            return w.globals.seriesTotals.reduce((a, b) => {
                                                // this.formatPrice()
                                                if (_.isNumber(a) || _.isNumber(b)) {
                                                    return parseFloat(a + b).toFixed(0).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                                } else {
                                                    return ''
                                                }

                                            }, 0)
                                        }
                                    }
                                }
                            }
                        }
                    },
                    dataLabels: {
                        enabled: false
                    }

                }
            }
        },
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar,
            DashboardSummary,
            DashboardChart,
            DashboardChartDonutOnly,
            DashboardChartDonutTooltip,
            DashboardTable,
            DashboardChartPie,
            DashboardChartPieOnly,
            DashboardChartBar,
            DashboardChartBarNegative,
            DashboardChartLine
        },
        methods: {
            makeStyle(template) {
                if (template.box_background_type === "image") {
                    return `background-image: ${template.box_background_color};box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);`
                } else {
                    return `background-color: ${template.box_background_color};box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);`
                }
            },
            loadTemplate() {
                this.showGraph = false
                this.$store.dispatch('dashboard/loadDashBoardTemplate', {
                    dateFrom: this.dateFrom,
                    dateTo: this.dateTo
                }).then((data) => {
                    this.templates = data.data
                    setTimeout(()=>{
                        this.showGraph = true
                    },500)
                    // this.$forceUpdate()
                }).catch((error) => {
                    this.handleCatch(error)
                })
            },
            loadMasterData() {
                this.$store.dispatch('master/memberTier')
            },
        },
        mounted() {
            this.$store.dispatch('user/mount')
                .then(()=>{
                    this.loadTemplate()
                })
            // this.loadMasterData()
        }

    }
</script>

<style lang="scss">
  .dashboard-page {
    min-height: calc(100vh - 65px);
    background-color: #f6f8fa;
    padding: 1rem;

    .box {
      display: flex;
      justify-content: center;

      .box-3 {
        flex: 1 0 calc(33.333333% - 1.333333rem);
        max-width: calc(33.333333% - 1.333333rem);

        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }

      .box-2 {
        flex: 1 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);

        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }

      .box-left {
        flex: 1 0 50%;
        max-width: 50%;
        display: flex;
        align-items: center;
      }

      .box-right {
        flex: 1 0 50%;
        max-width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .stat {
      padding: 2rem;
      border-radius: 4px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      height: 100%;

      .header {
        .selected {
          width: 100px;
          max-width: 100%;
        }
      }

      .body {
        margin: 1rem 0 0;

        .title {
          font-size: 14px;
          color: #858585;
        }

        .member {
          font-size: 42px;
          color: #2d72e5;
          font-weight: 600;
          margin: 0 0 1rem;
        }

        .bar {
          &:not(:last-child) {
            margin: 0 0 2rem;
          }

          &.silver-bar {
            .counted {
              color: #2d72e5;
            }
          }

          &.gold-bar {
            .counted {
              color: #ffcb00;
            }
          }

          &.plat-bar {
            .counted {
              color: #38e270;
            }
          }
        }

        &.fix-height-350 {
          max-height: 350px;
        }

        &.fix-height-400 {
          max-height: 400px;
        }

        .table {
          thead {
            font-weight: normal;
            color: #858585;
          }

          tbody {
            tr {
              td {
                vertical-align: inherit;

                &.action {
                  .btn {
                    display: inline-flex;
                    align-items: center;
                    vertical-align: middle;
                    margin-right: 0.25rem;

                    .icon {
                      height: 12px;
                      margin-right: 0.25rem;
                    }
                  }
                }

                &.detail {
                  color: #00c580;
                }
              }
            }

          }
        }

        .detail-chart {
          /*position: absolute;*/
          /*top: 0;*/
          /*left: 50%;*/
          /*height: 100%;*/
          /*width: 50%;*/

          .detail {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #dee2e6;
            padding: 0 0 1rem;
            margin: 1rem 0;

            .detail-chart-left {
              flex: 1 0;

              .bullet {
                font-size: 22px;
              }

              .detail-name {

              }
            }

            .detail-chart-right {
              flex: 1 0;
              color: #858585;
              text-align: right;
            }
          }
        }
      }

    }

    .total {
      height: calc(33.333333% - 1rem);
      padding: 2rem;
      color: #ffffff;
      border-radius: 4px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
      /*['#ff6258', '#ffaf00', '#2295f3', '#18d895']*/
      &.total-member {
        background-image: linear-gradient(to right, #ff6258, #cd574d);
      }

      &.total-voucher {
        background-image: linear-gradient(to right, #ffaf00, #cd8b00);
      }

      &.total-point {
        background-image: linear-gradient(to right, #1cffae, #18cd8a);
      }

      .title {
      }

      .body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .counting {
          font-size: 40px;
          font-weight: 600;
        }

        .icon {
          width: 48px;
        }
      }

      .footer {
        font-size: 12px;

        .bullet {
          font-size: 20px;
        }
      }
    }

  }
</style>
