<template>
  <div class="matarial-point-setting">
    <div class="card">
      <div class="card-body body">
        <div class="row">
          <div class="col-lg-4 col-md-3 col-sm-12 mt-2">
            <span>QR Code</span>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
            <input type="text" class="form-control" placeholder="Search" v-model="textSearch">
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12 mt-2">
            <button type="button" class="btn btn-dark w-100" @click="searchData">Search</button>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12 mt-2">
            <button type="button" class="btn btn-dark w-100" @click="createData">Create</button>
          </div>
        </div>
      </div>
      <div class="card-body body">
        <div class="table-responsive">
          <vue-perfect-scroll-bar class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>QR Code</th>
                <th>Type</th>
                <th>Model</th>
                <th>Amount</th>
                <th>Prefix</th>
                <th style="text-align: center;">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">
                  <button class="btn btn-light">Edit</button>
                  <button class="btn btn-light">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </vue-perfect-scroll-bar>
          <!--          <ul class="pagination justify-content-end mt-2">-->
          <!--            <li class="page-item" :class="{'disabled': promotionCredit.firstPage === null || promotionCredit.meta.current_page === 1}">-->
          <!--              <a class="page-link" href="#" @click.prevent="changePage(promotionCredit.firstPage)">First</a></li>-->
          <!--            <li class="page-item" :class="{'disabled': promotionCredit.previousPage === null}">-->
          <!--              <a class="page-link" href="#" @click.prevent="changePage(promotionCredit.previousPage)">&laquo;</a></li>-->

          <!--            <li class="page-item" :class="{'active': pageNumber === range}" v-for="range in rangeWithDots">-->
          <!--              <a class="page-link" href="#" v-if="range === '...'">{{ range }}</a>-->
          <!--              <a class="page-link" href="#" v-else @click.prevent="changePageNumber(range)">{{ range }}</a>-->
          <!--            </li>-->

          <!--            <li class="page-item" :class="{'disabled': promotionCredit.nextPage === null}">-->
          <!--              <a class="page-link" href="#" @click.prevent="changePage(promotionCredit.nextPage)">&raquo;</a>-->
          <!--            </li>-->
          <!--            <li class="page-item"-->
          <!--                :class="{'disabled': promotionCredit.lastPage === null || promotionCredit.meta.current_page === promotionCredit.meta.last_page}">-->
          <!--              <a class="page-link" href="#" @click.prevent="changePage(promotionCredit.lastPage)">Last</a></li>-->
          <!--          </ul>-->
        </div>
      </div>
    </div>
    <modal-create-q-r-code v-if="modalCreateData" v-on:close="hideModal" :id="id"></modal-create-q-r-code>
    <!--    <loader v-if="permission.loading"></loader>-->
  </div>
</template>

<script>
  const moment = require('moment')
  import {mapState} from 'vuex'
  import Loader from '../../components/Loader'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import ModalCreateQRCode from '../../components/ModalCreateQRCode'

  export default {
    watch: {
      // textSearch() {
      //   if (this.interval) {
      //     clearInterval(this.interval)
      //   }
      //   this.interval = setInterval(() => {
      //     this.loadPromotion()
      //     clearInterval(this.interval)
      //   }, 500)
      // }
    },

    data() {
      return {
        modalCreatePromotionShow: false,
        textSearch: '',
        pageNumber: 1,
        myPage: [],
        rangeWithDots: [],
        interval: null,
        modalCreateData: false,
      }
    },
    computed: {
      // ...mapState({
      //   permission: state => state.permission,
      //   user: state => state.user
      // }),
    },
    methods: {
      hideModal(){
        this.modalCreateData = false
      },
      createData(){
        this.modalCreateData = true
      },
      searchData() {
        this.loadData()
      },
      // loadData(){
      //   this.$store.dispatch('permission/getPermission',{
      //     page: this.pageNumber,
      //     search: this.textSearch
      //   }).then(()=>{
      //     // console.log(this.permission.permissionData)
      //   }).catch((error) => {
      //     this.handleCatch(error)
      //   })
      // },
    },
    components: {
      Loader,
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      ModalCreateQRCode
    },
    mounted() {
      // this.loadData()
    }
  }
</script>

<style lang="scss">
  .matarial-point-setting {
    min-height: calc(100vh - 65px);
    background-color: #f6f8fa;
    padding: 1rem;

    table tr th {
      white-space: nowrap !important;
    }

    table tr td {
      white-space: nowrap !important;
    }

    .icon {
      height: 12px;
      margin-right: 0.25rem;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;

      .text-title {
        flex: 0 0;
      }

      .action-title {
        flex: 0 0;
        display: flex;

        .box-input {
          position: relative;
          width: 310px;
          margin-right: 1rem;

          .icon {
            position: absolute;
            top: 12px;
            left: 12px;
            height: 16px;
          }

          .form-control {
            padding-left: 40px;
          }
        }

        .btn {
          display: flex;
          align-items: center;

          .icon {
            height: 12px;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .body {
      .table {
        thead {
          font-weight: normal;
          color: #858585;
        }

        tbody {
          tr {
            td {
              vertical-align: inherit;

              &.action {
                .btn {
                  display: inline-flex;
                  align-items: center;
                  vertical-align: middle;
                  margin-right: 0.25rem;

                  .icon {
                    height: 12px;
                    margin-right: 0.25rem;
                  }
                }
              }
            }
          }

        }
      }
    }
  }

</style>
