<template>
  <div class="report-setting-page">
    <div class="card">
      <div class="card-title title">
        <span class="text-title">Report Setting</span>
      </div>
      <div class="card-body body">
        <iframe v-if="projectId !== 0 && companyId !== 0" class="size-iframe border-0"
                :src="urlRpsReportSetting+`?projectid=${projectId}&companyid=${companyId}&token=${token}`"
                frameborder="0"></iframe>
      </div>
    </div>
  </div>
</template>

<script>
    const moment = require('moment')
    import {mapState} from 'vuex'
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'

    export default {
        computed: {
            ...mapState({
                user: state => state.user,
                token: state => state.user.token
            })
        },
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar
        },
        data() {
            return {
                urlRpsReportSetting: `https://www.toapoints.com/CenterModuleRPSDev/Page/PageGenReportList.aspx`,
                projectId: 0,
                companyId: 0
            }
        },
        watch: {
            'user.loaded'(loaded) {
                if (loaded) {
                    this.setProjectCompany()
                }
            }
        },
        methods: {
            setProjectCompany() {
                this.projectId = this.user.userProfile.project_id
                this.companyId = this.user.userProfile.company_id

            }
        },
        mounted() {
            if (this.user.loaded) {
                this.setProjectCompany()
            }
        }
    }
</script>

<style lang="scss" scoped>
  .report-setting-page {
    min-height: calc(100vh - 65px);
    background-color: #f6f8fa;
    padding: 1rem;

    .title {

      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;

      .text-title {
        flex: 0 0;
      }

      .action-title {
        flex: 0 0;
        display: flex;

        .box-input {
          position: relative;
          width: 310px;
          margin-right: 1rem;

          .icon {
            position: absolute;
            top: 12px;
            left: 12px;
            height: 16px;
          }

          .form-control {
            padding-left: 40px;
          }
        }

        .btn {
          display: flex;
          align-items: center;

          .icon {
            height: 12px;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .body {
      .size-iframe {
        height: calc(100vh - 230px);
        width: 100%;
      }
    }
  }
</style>
