<template>
  <div class="report-page">
    <div class="card mb-4">
      <div class="card-title title select-report form-inline">
        <div class="form-group">
          <label for="selectReport">Select Report:</label>
          <select class="form-control selected-report ml-4" id="selectReport" v-model="selectedReportId"
                  @change="changeReport">
            <option value="">-- Please Select Report --</option>
            <option :value="report.id" v-for="report in reports.reports">{{ report.report_name }}
            </option>
          </select>
        </div>

      </div>
    </div>

    <div class="card" v-if="selectedReportId !== ''">
      <div class="card-title title pb-0 mb-4">
        <div class="row">
          <div class="col">
            <div class="mb-4" v-if="selectedReport.parameter.ParamDatePeriodType !== 'N'">
              <div class="form-inline" v-if="selectedReport.parameter.ParamDatePeriodType === 'D'">
                <div class="form-group">
                  <label for="date">Date:</label>
                  <input id="date" type="date" class="form-control ml-4" v-model="fromDate">
                </div>
              </div>
              <div class="form-inline" v-if="selectedReport.parameter.ParamDatePeriodType === 'B'">
                <div class="form-group">
                  <label for="fromDate">From:</label>
                  <input id="fromDate" type="date" class="form-control ml-4" v-model="fromDate" :max="toDate">
                </div>
                <div class="form-group ml-4">
                  <label for="toDate">To:</label>
                  <input id="toDate" type="date" class="form-control ml-4" v-model="toDate" :min="fromDate">
                </div>
              </div>
              <div class="form-inline" v-if="selectedReport.parameter.ParamDatePeriodType === 'M'">
                <div class="form-group">
                  <label for="month">Month:</label>
                  <select id="month" class="form-control ml-4" v-model="month">
                    <option :value="opt.value" v-for="opt in monthList">{{ opt.name }}</option>
                  </select>
                </div>
                <div class="form-group ml-4">
                  <label for="year">Year:</label>
                  <select id="year" class="form-control ml-4" v-model="year">
                    <option :value="opt" v-for="opt in yearList">{{ opt }}</option>
                  </select>
                </div>
              </div>
              <div class="form-inline" v-if="selectedReport.parameter.ParamDatePeriodType === 'Y'">
                <div class="form-group">
                  <label for="yearOnly">Year:</label>
                  <select id="yearOnly" class="form-control ml-4" v-model="year">
                    <option :value="opt" v-for="opt in yearList">{{ opt }}</option>
                  </select>
                </div>
              </div>

            </div>
            <div v-if="selectedReport.parameter.lParameter !== null">
              <div class="form-inline mb-4" v-for="(selectParam,index) in selectedReport.parameter.lParameter">
                <div class="form-group">
                  <label :for="'param'+index">{{ selectParam.ParamStr }}:</label>
                  <input type="text" class="form-control selected-report ml-4" :id="'param'+index" v-model="params[index]" v-if="selectParam.is_textbox">
                  <select class="form-control selected-report ml-4" :id="'param'+index" v-model="params[index]" v-else>
                    <option value="">-- Please Select --</option>
                    <option :value="data.value" v-for="data in selectParam.lData">{{ data.text }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <button class="btn btn-outline-dark" @click="searchData" v-if="isAccessFunction(permission.ReportSearch)">Search</button>
            <button class="btn btn-outline-dark" @click="clearSearch" v-if="isShowClearSearch && isAccessFunction(permission.ReportSearch)">Clear</button>
            <exportExcelComponent :data="jsonExportData" :fields="jsonExportTitle" :name="excelFileName"
                                  class="btn btn-outline-dark" v-if="jsonExportData.length > 0 && isAccessFunction(permission.ReportExport)">Export
            </exportExcelComponent>
            <button class="btn btn-outline-dark" @click.prevent="printExport"
                    v-if="jsonExportData.length > 0 && isAccessFunction(permission.ReportExport)">
              Print
            </button>
          </div>
        </div>
      </div>
      <div class="card-body body" v-if="selectedReport.loaded && selectedReport.data !== null">

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th class="text-center" v-for="column in selectedReport.columns">{{column.column_name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="data in selectedReportData">
              <td v-for="column in selectedReport.columns"
                  :style="{ fontSize: column.font_size + 'px', textAlign: column.align }">
                {{ data[column.field_name] }}
              </td>
            </tr>
            <tr v-if="showSummary">
              <td v-for="column in selectedReport.columns" class="font-weight-bolder"
                  :style="{ fontSize: (parseInt(column.font_size) + 2) + 'px', textAlign: column.align }">
                {{ selectedReport.summary[column.field_name ]}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <ul class="pagination justify-content-end">
          <li class="page-item" :class="{'disabled': selectedReport.pages.current_page === 1}">
            <a class="page-link" href="#" @click.prevent="changePageNumber(1)">First</a></li>

          <li class="page-item" :class="{'disabled': selectedReport.pages.current_page === 1}">
            <a class="page-link" href="#" @click.prevent="changePageNumber(selectedReport.pages.current_page - 1)">&laquo;</a>
          </li>

          <li class="page-item" :class="{'active': pageNumber === range}" v-for="range in rangeWithDots">
            <a class="page-link" href="#" v-if="range === '...'">{{ range }}</a>
            <a class="page-link" href="#" v-else @click.prevent="changePageNumber(range)">{{ range }}</a>
          </li>

          <li class="page-item"
              :class="{'disabled': selectedReport.pages.current_page === selectedReport.pages.last_page}">
            <a class="page-link" href="#" @click.prevent="changePageNumber(selectedReport.pages.current_page + 1)">&raquo;</a>
          </li>
          <li class="page-item"
              :class="{'disabled': selectedReport.pages.current_page === selectedReport.pages.last_page}">
            <a class="page-link" href="#" @click.prevent="changePageNumber(selectedReport.pages.last_page)">Last</a>
          </li>
        </ul>
      </div>
    </div>

    <modal-filter-report v-if="modalFilterReport" v-on:close="hideModal"
                         v-on:save="filter"></modal-filter-report>

    <div class="print-report row" style="display: none" id="printReport"
         v-if="selectedReport.loaded && selectedReport.data !== null">
      <div class="col-12">
        <div class="report-title text-center" style="position: relative;" v-html="reportTitle"></div>
        <div class="report-summary row" style="margin-top: 2rem;">
          <div class="col-4 px-4" v-html="excelFooter"></div>
          <div class="col-4 px-4 text-center" v-html="reportSummaryCenter"></div>
          <div class="col-4 px-4" v-html="reportSignature"></div>
        </div>
        <!--        <div class="report-title text-center" v-html="excelTitle"></div>-->
        <!--        <div class="report-summary" style="margin-top: 2rem;" v-html="excelFooter"></div>-->
        <div class="">
          <table class="table table-hover">
            <thead>
            <tr>
              <th class="text-center" v-for="column in selectedReport.columns">{{column.column_name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="data in selectedReportDataExport">
              <td v-for="column in selectedReport.columns"
                  :style="{ fontSize: column.font_size + 'px', textAlign: column.align }">
                {{ data[column.field_name] }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import * as _ from "lodash";
    import PermissionConstants from '../../middleware/PermissionConstants'

    const moment = require('moment')
    import {mapState} from 'vuex'
    import modalFilterReport from '../../components/ModalFilterReport'
    import JsonExcel from 'vue-json-excel'

    export default {
        data() {
            return {
                permission: PermissionConstants,
                isShowClearSearch: false,
                pageNumber: 1,
                myPage: [],
                rangeWithDots: [],

                modalFilterReport: false,
                selectedReportId: '',
                monthList: [
                    {
                        name: 'January',
                        value: 1
                    }, {
                        name: 'February',
                        value: 2
                    }, {
                        name: 'March',
                        value: 3
                    }, {
                        name: 'April',
                        value: 4
                    }, {
                        name: 'May',
                        value: 5
                    }, {
                        name: 'June',
                        value: 6
                    }, {
                        name: 'July',
                        value: 7
                    }, {
                        name: 'August',
                        value: 8
                    }, {
                        name: 'September',
                        value: 9
                    }, {
                        name: 'October',
                        value: 10
                    }, {
                        name: 'November',
                        value: 11
                    }, {
                        name: 'December',
                        value: 12
                    }
                ],
                yearList: [
                    moment().add(-10, 'year').format('YYYY'),
                    moment().add(-9, 'year').format('YYYY'),
                    moment().add(-8, 'year').format('YYYY'),
                    moment().add(-7, 'year').format('YYYY'),
                    moment().add(-6, 'year').format('YYYY'),
                    moment().add(-5, 'year').format('YYYY'),
                    moment().add(-4, 'year').format('YYYY'),
                    moment().add(-3, 'year').format('YYYY'),
                    moment().add(-2, 'year').format('YYYY'),
                    moment().add(-1, 'year').format('YYYY'),
                    moment().format('YYYY'),
                    moment().add(1, 'year').format('YYYY'),
                    moment().add(2, 'year').format('YYYY'),
                    moment().add(3, 'year').format('YYYY'),
                    moment().add(4, 'year').format('YYYY'),
                    moment().add(5, 'year').format('YYYY'),
                    moment().add(6, 'year').format('YYYY'),
                    moment().add(7, 'year').format('YYYY'),
                    moment().add(8, 'year').format('YYYY'),
                    moment().add(9, 'year').format('YYYY'),
                    moment().add(10, 'year').format('YYYY')
                ],
                fromDate: moment().add(-6, 'day').format('YYYY-MM-DD'),
                toDate: moment().format('YYYY-MM-DD'),
                month: moment().format('M'),
                year: moment().format('YYYY'),
                params: [
                    '',
                    '',
                    '',
                    '',
                    ''
                ],
                jsonExportData: [],
                jsonExportTitle: {},
                reportSummary: [],
                excelTitle: '',
                excelFooter: '',
                reportTitle: '',
                reportSummaryCenter: '',
                reportSignature: '',
            }
        },
        methods: {
            printExport() {
                this.$htmlToPaper('printReport', () => {
                })
            },
            clearSearch() {
                this.fromDate = moment().add(-6, 'day').format('YYYY-MM-DD')
                this.toDate = moment().format('YYYY-MM-DD')
                this.month = moment().format('M')
                this.year = moment().format('YYYY')
                this.params = [
                    '',
                    '',
                    '',
                    '',
                    ''
                ]
                // this.searchData()
            },
            searchData() {
                let params = {
                    report_id: this.selectedReportId,
                    param_date1: this.fromDate,
                    param_date2: this.toDate,
                    param_month: this.month,
                    param_year: this.year,
                    param_search1: this.params[0],
                    param_search2: this.params[1],
                    param_search3: this.params[2],
                    param_search4: this.params[3],
                    param_search5: this.params[4],
                    page: this.pageNumber
                }

                this.$store.dispatch('report/selectedReport/searchData', params).then((msg) => {

                    this.pagination()

                    this.isShowClearSearch = true

                    let paramExport = params
                    paramExport.page = 0

                    this.$store.dispatch('report/selectedReport/exportData', paramExport).then((datas) => {
                        // console.log('export', datas)
                        // data.rows

                        let jsonData = []
                        _.map(datas.rows, (data) => {
                            data.phone_number = data.phone_number + '&nbsp'
                        })
                        jsonData = datas.rows

                        jsonData.push(datas.summary)

                        let jsonTitle = {}
                        _.each(datas.columns, (column) => {
                            jsonTitle[column.column_name] = column.field_name
                        })

                        this.jsonExportTitle = jsonTitle

                        this.jsonExportData = jsonData
                        //
                        this.reportSummary = datas.extension
                        this.excelTitle = ''
                        this.reportTitle = ''
                        _.each(datas.header, (data) => {
                            this.excelTitle += '<div>' + data + '</div>'
                            this.reportTitle += '<div>' + data + '</div>'
                        })

                        if (datas.logo) {
                            this.reportTitle += '<img src="' + datas.logo + '" style="position: absolute; left: 10px; top: 10px; width: 100px;"/>'
                        }

                        this.excelFooter = ''
                        if (datas.extension.length > 0) {
                            this.excelFooter += '<div><b>สรุปรายงาน</b></div>'
                            _.each(datas.extension, (data) => {
                                this.excelFooter += '<div>' + data + '</div>'
                            })
                        }

                        this.reportSummaryCenter = ''
                        if (datas.summary_center.length > 0) {
                            _.each(datas.summary_center, (data) => {
                                this.reportSummaryCenter += '<div>' + data + '</div>'
                            })
                        }

                        this.reportSignature = ''

                        if (datas.signature) {
                            let sig = datas.signature
                            if (sig.title_1 && sig.position_1) {
                                this.reportSignature += '<div class="row">' +
                                    '<div class="col-4 text-right">' + sig.title_1 + '</div><div class="col border-bottom"></div>' +
                                    '</div>' +
                                    '<div class="row mt-1">' +
                                    '<div class="col-4"></div><div class="col text-center">' + sig.position_1 + '</div>' +
                                    '</div>'
                            }

                            if (sig.title_2 && sig.position_2) {
                                this.reportSignature += '<div class="row mt-2">' +
                                    '<div class="col-4 text-right">' + sig.title_2 + '</div><div class="col border-bottom"></div>' +
                                    '</div>' +
                                    '<div class="row mt-1">' +
                                    '<div class="col-4"></div><div class="col text-center">' + sig.position_2 + '</div>' +
                                    '</div>'
                            }
                        }
                        //
                    })
                })
            },
            makeParameter() {
                let data = {}
                _.each(this.selectedReport.parameter.lParameter, (param, index) => {
                    data[param.ParamStr] = this.params[index]
                })
                return data
            },
            changeReport(e) {
                if (this.selectedReportId !== '') {
                    this.$store.dispatch('report/selectedReport/selectedReport', this.selectedReportId)
                }
                this.fromDate = moment().add(-6, 'day').format('YYYY-MM-DD')
                this.toDate = moment().format('YYYY-MM-DD')
                this.month = moment().format('M')
                this.year = moment().format('YYYY')
                this.params = ['', '', '', '', '']
                this.pageNumber = 1
                this.jsonExportData = []
                this.jsonExportTitle = {}
                this.$store.dispatch('report/selectedReport/clearData')
            },
            openModal() {
                this.modalFilterReport = true
            },
            hideModal() {
                this.modalFilterReport = false
            },
            loadReports() {
                this.$store.dispatch('report/reports').then(() => {
                })
            },
            changePageNumber(number) {
                this.pageNumber = number
                this.searchData()
            },
            pagination() {
                let current = this.selectedReport.pages.current_page
                let last = this.selectedReport.pages.last_page
                let delta = 3
                let left = current - delta
                let right = current + delta + 1
                let min = delta * 2 + 1
                let range = []
                this.rangeWithDots = []
                let l

                for (let i = 1; i <= last; i++) {
                    if (i >= left && i < right) {
                        range.push(i)
                    }
                }

                for (let i of range) {
                    if (l) {
                        if (i - l === 2) {
                            this.rangeWithDots.push(l + 1)
                        } else if (i - l !== 1) {
                            this.rangeWithDots.push('...')
                        }
                    }
                    this.rangeWithDots.push(i)
                    l = i
                }
            },

        },

        computed: {
            ...mapState({
                reports: state => state.report,
                selectedReport: state => state.report.selectedReport,
                user: state => state.user
            }),
            // reportList(){
            //   // let permissionReport = _.filter(this.user.user.access_page, {'object_type': 'Report', 'is_active': true,})
            //
            //   // _.each(permissionReport, (item)=>{
            //   // })
            //
            //   let reportList = _.map(this.reports.reports, (rp) => {
            //     let data = null
            //
            //     // _.each(permissionReport, (permission) => {
            //     //   if(rp.id === permission.object_report_id){
            //     //     data = rp
            //     //   }
            //     // })
            //
            //     if(data){
            //       return data
            //     }
            //   })
            //
            //   reportList = _.compact(reportList)
            //   return reportList
            // },
            canExport() {
                // if (!this.user.loaded) {
                //   return false
                // }
                // if (this.user.user.access_page.length === 0) {
                //   return false
                // }
                //
                // let can = false
                //
                // _.each(this.user.user.access_page, (item) => {
                //   if (item.object_id === '7202') {
                //     can = item.is_active
                //   }
                // })
                //
                // return can
                return true
            },
            canPrint() {
                // if (!this.user.loaded) {
                //   return false
                // }
                // if (this.user.user.access_page.length === 0) {
                //   return false
                // }
                //
                // let can = false
                //
                // _.each(this.user.user.access_page, (item) => {
                //   if (item.object_id === '7203') {
                //     can = item.is_active
                //   }
                // })
                // return can
                return true

            },
            canSearch() {
                // if (!this.user.loaded) {
                //   return false
                // }
                // if (this.user.user.access_page.length === 0) {
                //   return false
                // }
                //
                // let can = false
                //
                // _.each(this.user.user.access_page, (item) => {
                //   if (item.object_id === '7201') {
                //     can = item.is_active
                //   }
                // })

                // return can
                return true
            },

            showSummary() {
                return !_.isEmpty(this.selectedReport.summary)
            },
            selectedReportData() {
                return JSON.parse(this.selectedReport.data)
            },
            selectedReportDataExport() {
                if (this.selectedReport.exportData.rows) {
                    return this.selectedReport.exportData.rows
                }
                return []
            },
            columnHeader() {
                if (this.selectedReport.data) {
                    let json = JSON.parse(this.selectedReport.data)
                    if (json) {
                        let header = []
                        _.forEach(json[0], (value, key) => {
                            header.push(key)
                        })
                        return header
                    }
                }
                return []
            },
            columnData() {
                if (this.selectedReport.data) {
                    let json = JSON.parse(this.selectedReport.data)
                    if (json) {
                        let data = []
                        _.each(json, (item) => {
                            let val = []
                            _.forEach(item, (value, key) => {
                                val.push(value)
                            })
                            data.push(val)
                        })
                        return data
                    }
                }
                return []
            },
            excelFileName() {
                // reports.reports
                // selectedReportId
                let reportName = _.find(this.reports.reports, (item) => {
                    return item.id === this.selectedReportId
                })

                if (_.isObject(reportName)) {
                    reportName = reportName.report_name
                } else {
                    reportName = 'Export'
                }

                return reportName + ' ' + moment().format('YYYY-MM-DD HH-mm-ss') + '.xls';
            }
        },
        components: {
            modalFilterReport,
            'exportExcelComponent': JsonExcel
        },
        mounted() {
            this.$store.dispatch('user/mount')
                .then(()=>{
                    this.loadReports()
                })

        }
    }
</script>

<style lang="scss">
  .report-page {
    min-height: calc(100vh - 65px);
    background-color: #f6f8fa;
    padding: 1rem;

    .title {
      padding: 1.5rem;

      &.select-report {
        margin: 0;
        display: inherit;

        .selected-report {
          max-width: 400px;
        }
      }

      .text-title {
        flex: 0 0;
      }

      .action-title {
        flex: 0 0;
        display: flex;

        .box-input {
          position: relative;
          width: 310px;
          margin-right: 1rem;

          .icon {
            position: absolute;
            top: 12px;
            left: 12px;
            height: 16px;
          }

          .form-control {
            padding-left: 40px;
          }
        }

        .btn {
          display: flex;
          align-items: center;

          .icon {
            height: 12px;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .body {
      .table {
        thead {
          font-weight: normal;
          color: #858585;
        }

        tbody {
          tr {
            td {
              vertical-align: inherit;

              &.action {
                .btn {
                  display: inline-flex;
                  align-items: center;
                  vertical-align: middle;
                  margin-right: 0.25rem;

                  .icon {
                    height: 12px;
                    margin-right: 0.25rem;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
</style>
