<template>
  <div class="customers-page">
    <div class="card">
      <div class="row card-title title">
        <span class="col-lg-6 col-mg-6 col-sm-4">Transaction</span>
        <div class="action-title col-lg-6 col-mg-6 col-sm-8">
          <div class="box-input">
            <img src="../../assets/icons/search.png" alt="" class="icon">
            <input type="text" class="form-control" placeholder="Search" v-model="textSearch">
          </div>
          <button type="button" class="btn btn-dark" @click="openFilterTransaction">Filter</button>
        </div>
      </div>
      <div class="card-body body">
        <div class="table-responsive">
          <vue-perfect-scroll-bar>
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Earn Date</th>
                <th>User</th>
                <th>Mobile</th>
                <th>Email</th>
<!--                <th>Privilege Name</th>-->
                <th>Reference Code</th>
                <th>Status</th>
                <th>Point Earn</th>
<!--                <th>Point Burn</th>-->
                <th>Point Balance</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="list in transactionList">
                <td>{{list.created_at | moment('YYYY-MM-DD HH:mm:ss')}}</td>
                <td>{{ list.first_name }} {{ list.last_name }}</td>
                <td>{{ list.mobile }}</td>
                <td>{{ list.email }}</td>
<!--                <td>{{ list.privilege_name }}</td>-->
                <td>{{ list.code }}</td>
                <td>{{ list.status }}</td>
                <td class="text-right">{{ list.earn_point | formatPrice }}</td>
<!--                <td class="text-right">{{ list.burn_point | formatPrice }}</td>-->
                <td class="text-right">{{ list.after_point | formatPrice }}</td>
              </tr>
              </tbody>
            </table>
          </vue-perfect-scroll-bar>
          <ul class="pagination justify-content-end mt-2">
            <li class="page-item" :class="{'disabled': meta.current_page === 1}">
              <a class="page-link" href="#" @click.prevent="changePageNumber(1)">First</a>
            </li>

            <li class="page-item" :class="{'disabled': meta.current_page - 1 < 1}">
              <a class="page-link" href="#" @click.prevent="changePageNumber(meta.current_page - 1)">&laquo;</a>
            </li>

            <li class="page-item" :class="{'active': pageNumber === range}" v-for="range in rangeWithDots">
              <a class="page-link" href="#" v-if="range === '...'">{{ range }}</a>
              <a class="page-link" href="#" v-else @click.prevent="changePageNumber(range)">{{ range }}</a>
            </li>

            <li class="page-item" :class="{'disabled': meta.current_page + 1 > meta.last_page}">
              <a class="page-link" href="#" @click.prevent="changePageNumber(meta.current_page + 1)">&raquo;</a>
            </li>
            <li class="page-item"
                :class="{'disabled': meta.current_page + 1 > meta.last_page}">
              <a class="page-link" href="#" @click.prevent="changePageNumber(meta.last_page)">Last</a></li>
          </ul>
        </div>
      </div>
    </div>
    <modal-transaction v-if="is_show_filter_transaction === true"
                       :date_from="date_from" :date_to="date_to"
                       v-on:close="is_show_filter_transaction = false"
                       v-on:search="searchFilter">
    </modal-transaction>
  </div>
</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  const moment = require('moment')
  import ModalTransaction from '../../components/ModalTransaction'

  export default {
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      ModalTransaction
    },
    watch: {
      textSearch() {
        if (this.interval) {
          clearInterval(this.interval)
        }
        this.interval = setInterval(() => {
          this.pageNumber = 1
          this.loadData()
          clearInterval(this.interval)
        }, 1000)
      }
    },
    data() {
      return {
        textSearch: '',
        interval: null,
        is_show_filter_transaction: false,

        transactionList: [],
        pageNumber: 1,
        meta: {
          current_page: 1,
          from: 1,
          last_page: 1,
          path: "",
          per_page: 10,
          to: 1,
          total: 0
        },
        rangeWithDots: [],

        date_from: moment().add('-1', 'year').format('YYYY-MM-DD'),
        date_to: moment().format('YYYY-MM-DD'),

      }
    },
    methods: {
      pagination() {
        let current = this.meta.current_page
        let last = this.meta.last_page
        let delta = 3
        let left = current - delta
        let right = current + delta + 1
        let min = delta * 2 + 1
        let range = []
        this.rangeWithDots = []
        let l

        for (let i = 1; i <= last; i++) {
          if (i >= left && i < right) {
            range.push(i)
          }
        }

        for (let i of range) {
          if (l) {
            if (i - l === 2) {
              this.rangeWithDots.push(l + 1)
            } else if (i - l !== 1) {
              this.rangeWithDots.push('...')
            }
          }
          this.rangeWithDots.push(i)
          l = i
        }
      },
      changePageNumber(number) {
        this.pageNumber = number
        this.loadData()
      },

      loadData() {
        this.$store.dispatch('transaction/getTransaction', {
          date_from: this.date_from,
          date_to: this.date_to,
          search: this.textSearch,
          page: this.pageNumber,
        }).then((data) => {
          this.transactionList = data.data
          this.meta = data.meta
          this.pagination()
        }).catch((error) => {
          this.customerList = []
          this.meta = {
            current_page: 1,
            from: 1,
            last_page: 1,
            path: "",
            per_page: 10,
            to: 1,
            total: 0
          }
        })
      },
      searchFilter(filter) {
        this.date_from = filter.date_from
        this.date_to = filter.date_to
        this.is_show_filter_transaction = false
        this.pageNumber = 1
        this.loadData()
      },
      openFilterTransaction() {
        this.is_show_filter_transaction = true
      }
    },
    mounted() {
        this.$store.dispatch('user/mount').then((data) => {
            this.loadData()
        })
    }

  }
</script>

<style lang="scss" scoped>
  .customers-page {
    min-height: calc(100vh - 65px);
    background-color: #f6f8fa;
    padding: 1rem;

    table tr th {
      white-space: nowrap !important;
      text-align: center;
    }

    table tr td {
      white-space: nowrap !important;
    }

    .icon {
      height: 14px;
      padding-right: 5px;
    }

    .total-style {
      font-size: 15px;
      font-weight: 400;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;

      .text-title {
        flex: 0 0;
      }

      .action-title {
        flex: 0 0;
        display: flex;

        .box-input {
          position: relative;
          width: 310px;
          margin-right: 1rem;

          .icon {
            position: absolute;
            top: 12px;
            left: 12px;
            height: 16px;
          }

          .form-control {
            padding-left: 40px;
          }
        }

        .btn {
          display: flex;
          align-items: center;
          white-space: nowrap;

          .icon {
            height: 12px;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .body {
      .table {
        thead {
          font-weight: normal;
          color: #858585;
        }

        tbody {
          tr {
            td {
              vertical-align: inherit;

              &.action {
                .btn {
                  display: inline-flex;
                  align-items: center;
                  vertical-align: middle;
                  margin-right: 0.25rem;

                  .icon {
                    height: 12px;
                    margin-right: 0.25rem;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
</style>
