<template>
  <div class="redemption-page container-fluid">
    <div class="card">
      <div class="row card-title title">
        <span class="col-lg-6 col-mg-6 col-sm-4">Delivery Management</span>
        <div class="action-title col-lg-6 col-mg-6 col-sm-8">
          <div class="box-input">
            <img src="../../../assets/icons/search.png" alt="" class="icon">
            <input type="text" class="form-control" placeholder="Search" v-model="textSearch">
          </div>
          <button type="button" class="btn btn-dark" @click="openFilterRedemption">Filter</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-dark" @click.prevent="onExport(item)">Export</button>
          </div>
        </div>

        <div class="table-responsive mt-2">
          <vue-perfect-scroll-bar>
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="text-center">Image</th>
                <th class="text-center">Privilege</th>
                <th class="text-center">Name</th>
                <th class="text-center">Redeem Date</th>
                <th class="text-center">Status</th>
                <th class="text-center">Tracking Number</th>
                <th class="text-center">Action</th>
                <th class="text-center">Print</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in redemptionList">
                <td class="text-center">
                  <div v-if="item.transaction !== null">
                    <img :src="item.transaction.privilege_image" class="image-size">
                  </div>
                </td>
                <td>
                  <div v-if="item.transaction !== null">
                    {{item.transaction.privilege_name}}
                  </div>
                </td>
                <td>
                  <div v-if="item.user !== null">
                    {{item.user.first_name}} {{item.user.last_name}}
                  </div>
                </td>
                <td class="text-center">{{ item.created_at | moment('YYYY-MM-DD HH:mm')}}</td>
                <td class="text-center">
                  {{ (item.delivery_status ? item.delivery_status : 'รอตรวจสอบ') }}
                </td>
                <td class="text-center">
                  <span v-if="item.tracking_number && item.delivery_status !== 'รอตรวจสอบ'">
                    {{ item.tracking_number }}
                  </span>
                  <div class="input-group mb-3" v-if="!item.tracking_number && item.delivery_status !== 'รอตรวจสอบ'">
                    <input type="text" class="form-control" placeholder="Tracking Number" aria-label="Tracking Number" aria-describedby="btn-tracking_no" v-model="item.tracking" maxlength="50">
                    <div class="input-group-append">
                      <button class="btn btn-outline-dark" type="button" id="btn-tracking_no" @click.prevent="saveTracking(item)">Save</button>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <button class="btn btn-outline-dark" @click.prevent="updateStatus(item)"
                          v-if="item.delivery_status !== 'ได้รับสินค้าแล้ว'">Update Status
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn btn-outline-dark" @click.prevent="printAddress(item)">Print Address</button>
                </td>
              </tr>
              </tbody>
            </table>
          </vue-perfect-scroll-bar>
          <ul class="pagination justify-content-end mt-2">
            <li class="page-item"
                :class="{'disabled': redemption.firstPage === null || redemption.meta.current_page === 1}">
              <a class="page-link" href="#" @click.prevent="changePage(redemption.firstPage)">First</a></li>
            <li class="page-item" :class="{'disabled': redemption.previousPage === null}">
              <a class="page-link" href="#" @click.prevent="changePage(redemption.previousPage)">&laquo;</a></li>

            <li class="page-item" :class="{'active': pageNumber === range}" v-for="range in rangeWithDots">
              <a class="page-link" href="#" v-if="range === '...'">{{ range }}</a>
              <a class="page-link" href="#" v-else @click.prevent="changePageNumber(range)">{{ range }}</a>
            </li>

            <li class="page-item" :class="{'disabled': redemption.nextPage === null}">
              <a class="page-link" href="#" @click.prevent="changePage(redemption.nextPage)">&raquo;</a>
            </li>
            <li class="page-item"
                :class="{'disabled': redemption.lastPage === null || redemption.meta.current_page === redemption.meta.last_page}">
              <a class="page-link" href="#" @click.prevent="changePage(redemption.lastPage)">Last</a></li>
          </ul>
        </div>
      </div>
    </div>
    <filter-redemption v-if="is_show_filter_redemption"
                       :date_from="date_from" :date_to="date_to" :status="status"
                       v-on:close="is_show_filter_redemption = false"
                       v-on:search="searchFilter"
    ></filter-redemption>
    <div class="d-none" id="printAddress"></div>
  </div>
</template>

<script>
    import {mapState} from 'vuex'
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import JsonExcel from 'vue-json-excel'

    const moment = require('moment')
    import XLSX from 'xlsx'
    import FilterRedemption from '../../../components/FilterRedemption'

    export default {
        computed: {
            ...mapState({
                user: state => state.user,
                redemption: state => state.redemption,
                // masterData: state => state
            }),
        },
        data() {
            return {
                redemptionList: [],
                redemptionListExport: [],
                date_from: moment().add('-1', 'year').format('YYYY-MM-DD'),
                date_to: moment().format('YYYY-MM-DD'),
                textSearch: '',
                rangeWithDots: [],
                pageNumber: 1,
                interval: null,
                status: '',
                jsonExportData: [],
                is_show_filter_redemption: false,
            }
        },
        mounted() {
            this.$store.dispatch('user/mount').then((data) => {
                this.loadData()
                this.loadDataExport()
            })

        },
        watch: {
            textSearch() {
                if (this.interval) {
                    clearInterval(this.interval)
                }
                this.interval = setInterval(() => {
                    this.loadData()
                    clearInterval(this.interval)
                }, 1000)
            }
        },
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar,
            'exportExcelComponent': JsonExcel,
            FilterRedemption
        },
        methods: {
            saveTracking(item){
                this.$store.dispatch('redemption/addTrackingNumber', {
                    redemption_id: item.id,
                    tracking_no: item.tracking
                }).then(()=>{
                    this.loadData()
                }).catch((error)=>{
                    this.handleCatch(error)
                })
            },
            searchFilter(filter) {
                this.date_from = filter.date_from
                this.date_to = filter.date_to
                this.status = filter.status

                this.is_show_filter_redemption = false
                this.pageNumber = 1
                this.loadData()
            },
            openFilterRedemption() {
                this.is_show_filter_redemption = true
            },
            onExport() {
                let workSheet = XLSX.utils.json_to_sheet(this.jsonExportData)

                let workBook = XLSX.utils.book_new() // make Workbook of Excel

                XLSX.utils.book_append_sheet(workBook, workSheet, 'Redemption')

                // export Excel file
                XLSX.writeFile(workBook, 'Redemption_' + moment().format('YYYYMMDDHHmmss') + '.xlsx') // name of the file is 'book.xlsx'
            },
            makeDataExport() {
                if (this.redemptionListExport.length > 0) {
                    this.jsonExportData = _.map(this.redemptionListExport, (data) => {
                        return {
                            privilege_name: data.privilege_name,
                            first_name: data.first_name,
                            last_name: data.last_name,
                            description: data.description,
                            address: data.address,
                            province: data.province,
                            district: data.district,
                            sub_district: data.sub_district,
                            postcode: data.postcode,
                            created_at: data.created_at,
                            updated_at: data.updated_at,
                            delivery_status: data.delivery_status,
                        }
                    })
                }

            },
            printAddress(item) {
                // let print_address = `<p><strong>Address:</strong> ${item.address}</p>
                // <p><strong>Province:</strong> ${(item.province ? item.province : '')}</p>
                // <p><strong>District:</strong> ${(item.district ? item.district : '')}</p>
                // <p><strong>Sub District:</strong> ${(item.sub_district ? item.sub_district : '')}</p>
                // <p><strong>Postcode:</strong> ${(item.postcode ? item.postcode : '')}</p>
                // <p><strong>Detail:</strong> ${(item.description ? item.description : '')}</p>`;
                console.log(item)
                let print_address = `
        <p><strong>ผู้รับ: </strong>${item.user.first_name ? item.user.first_name : ''} ${item.user.last_name ? item.user.last_name : ''}</p>
        <p><strong>ที่อยู่: </strong>${item.address} ${(item.district ? item.district : '')} ${(item.sub_district ? item.sub_district : '')}</p>
        <p>${(item.province ? item.province : '')} ${(item.postcode ? item.postcode : '')}</p>
        <p><strong>โทร: </strong>${(item.user.phone_number ? item.user.phone_number : '')}</p>
`;

                $('#printAddress').html(print_address)

                // console.log($('#printAddress').html())
                this.$htmlToPaper('printAddress', () => {
                })
            },
            loadData() {
                this.$store.dispatch('redemption/getRedemption', {
                    page: this.pageNumber,
                    text: this.textSearch,
                    date_to: this.date_to,
                    date_from: this.date_from,
                    status: this.status,
                }).then((data) => {
                    this.redemptionList = this.redemption.data
                    this.pagination()
                }).catch((error) => {
                    this.handleCatch(error)
                })
            },
            loadDataExport() {
                this.$store.dispatch('redemption/getRedemptionExport', {
                    page: 0,
                    text: this.textSearch,
                }).then((data) => {
                    this.redemptionListExport = data
                    this.makeDataExport()
                    this.pagination()
                }).catch((error) => {
                    this.handleCatch(error)
                })
            },
            changePageNumber(number) {
                this.pageNumber = number
                this.loadData()
            },
            changePage(url) {
                let myRegex = /(page=)(\d+)/g;
                let myArray = myRegex.exec(url);
                this.pageNumber = parseInt(_.last(myArray))

                this.loadData()
            },
            pagination() {
                let current = this.redemption.meta.current_page
                let last = this.redemption.meta.last_page
                let delta = 3
                let left = current - delta
                let right = current + delta + 1
                let min = delta * 2 + 1
                let range = []
                this.rangeWithDots = []
                let l

                for (let i = 1; i <= last; i++) {
                    if (i >= left && i < right) {
                        range.push(i)
                    }
                }

                for (let i of range) {
                    if (l) {
                        if (i - l === 2) {
                            this.rangeWithDots.push(l + 1)
                        } else if (i - l !== 1) {
                            this.rangeWithDots.push('...')
                        }
                    }
                    this.rangeWithDots.push(i)
                    l = i
                }
            },
            searchData() {
                this.loadData()
            },
            updateStatus(redemption) {
                if (!redemption.delivery_status) {
                    redemption.delivery_status = 'รอตรวจสอบ'
                }
                let next_status = ''
                if (redemption.delivery_status === 'รอตรวจสอบ') {
                    next_status = 'รอจัดส่ง'
                } else if (redemption.delivery_status === 'รอจัดส่ง') {
                    next_status = 'จัดส่งแล้ว'
                } else {
                    next_status = 'ได้รับสินค้าแล้ว'
                }

                if (redemption.first_name === '' || redemption.first_name === null) {
                    redemption.first_name = ''
                }
                if (redemption.last_name === '' || redemption.last_name === null) {
                    redemption.last_name = ''
                }

                $.confirm({
                    title: 'Update Status',
                    content: `ยืนยันการเปลี่ยน Status ( สินค้า ${redemption.transaction.privilege_name} ของ ${redemption.user.first_name} ${redemption.user.last_name} ) จาก <b>${redemption.delivery_status}</b> เป็น <b>${next_status}</b> ใช่หรือไม่`,
                    buttons: {
                        submit: {
                            btnClass: 'btn-dark',
                            text: 'ยืนยัน',
                            action: () => {
                                this.$store.dispatch('redemption/updateRedemption', {
                                    redemption_id: redemption.id
                                }).then((data) => {
                                    this.loadData()
                                    // redemption.status = next_status
                                }).catch((error) => {
                                    this.handleCatch(error)
                                })
                            }
                        },
                        cancel: {
                            btnClass: 'btn-outline-dark',
                            text: 'ยกเลิก',
                            action: () => {
                                return
                            }
                        }
                    }
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
  .redemption-page {
    min-height: calc(100vh - 65px);
    background-color: #f6f8fa;
    padding: 1rem;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 1.5rem 0 1.5rem;

      .text-title {
        flex: 0 0;
      }

      .action-title {
        flex: 0 0;
        display: flex;

        .box-input {
          position: relative;
          width: 310px;
          margin-right: 1rem;

          .icon {
            position: absolute;
            top: 12px;
            left: 12px;
            height: 16px;
          }

          .form-control {
            padding-left: 40px;
          }
        }

        .btn {
          display: flex;
          align-items: center;
          white-space: nowrap;

          .icon {
            height: 12px;
            margin-right: 0.5rem;
          }
        }
      }
    }

    table tr th {
      white-space: nowrap !important;
      /*text-align: center;*/
    }

    table tr td {
      white-space: nowrap !important;
    }

    .image-size {
      height: 50px;
    }

  }
</style>
