<template>
  <div class="dashboard-chart">
    <div class="title p-3" :style="makeStyleTitle(template)">{{template.title}}</div>
    <div class="body" :style="makeStyleBody(template)">
      <vue-perfect-scroll-bar class="table-responsive mt-4">
        <apexchart width="100%" type="pie" :options="chartOptions"
                   :series="series"></apexchart>
      </vue-perfect-scroll-bar>
    </div>
  </div>
</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  const moment = require('moment')
  export default {
    props: {
      template: {
        required: true
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    data() {
      return {
        graphPieOptions: {},
        graphPieSeries: [],
        series: [0],
        chartOptions: {
          // chart: {
          //   width: '50%'
          // },
          colors: ['#AAD1C8', '#184973', '#D9CEBA', '#6B7933', '#DC6657', '#E5A560'],
          labels: [''],
          // labels: ['Discount', 'Get 200 Point', 'Get 150 Point', 'Get 2 Free 1'],
          legend: {
            show: false,
            fontFamily: 'Prompt, sans-serif',
            formatter: (val, data) => {
              // data.w.config.series[data.seriesIndex]
              // return val +': '+data.w.config.series[data.seriesIndex]
              return val + ': <span style="color: #858585;">' + data.w.config.series[data.seriesIndex] + ' รายการ</span>'
            },
            fontSize: '18px',
            floating: true,
            horizontalAlign: 'left',
            // offsetX: -100
            // position: 'bottom'
          },
          tooltip: {
            enabled: false
          },
          plotOptions: {
            pie: {
              donut: {
                size: '75%',
                background: 'transparent',
                labels: {
                  show: false,
                  name: {
                    show: true,
                    fontSize: '18px',
                    fontFamily: 'Prompt, sans-serif',
                    // color: undefined,
                    offsetY: -10
                  },
                  value: {
                    show: true,
                    fontSize: '16px',
                    fontFamily: 'Prompt, sans-serif',
                    // color: undefined,
                    offsetY: 16,
                    formatter: function (val) {
                      return val
                    }
                  },
                  total: {
                    show: true,
                    label: 'Total',
                    color: '#373d3f',
                    formatter: function (w) {
                      return w.globals.seriesTotals.reduce((a, b) => {
                        // this.formatPrice()
                        if(_.isNumber(a) || _.isNumber(b)){
                          return parseFloat(a + b).toFixed(0).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                        }else{
                          return ''
                        }

                      }, 0)
                    }
                  }

                }
              }
            }
          },
          dataLabels: {
            enabled: false
          }

        }
      }
    },
    mounted() {
      this.mapGraphPieOptions()
    },
    methods: {
      setBulletColor(index) {
        return {'color': this.chartOptions.colors[index]}
      },
      mapGraphPieOptions() {
        this.chartOptions.labels = [];
        this.series = []
        _.each(this.template.data, (item) => {
          this.chartOptions.labels.push(item.name)
          this.series.push(parseInt(item.total))
        })
      },

      makeStyleTitle(template) {
        return `font-size: ${template.title_font_size}; color: ${template.title_font_color};`
      },
      makeStyleBody(template) {
        return `font-size: ${template.data_font_size}; color: ${template.data_font_color};display: flex;
        align-items: center;
        justify-content: space-between;`
      },
      makeStyleFont(template) {
        return `font-size: ${template.data_font_size}; color: ${template.title_font_color};`
      },
    }
  }
</script>

<style lang="scss" scoped>
  .dashboard-chart {
    .detail-chart {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 50%;

      .detail {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        padding: 0 0 1rem;
        margin: 1rem 0;

        .detail-chart-left {
          flex: 1 0;

          .bullet {
            font-size: 22px;
          }

          .detail-name {

          }
        }

        .detail-chart-right {
          flex: 1 0;
          color: #858585;
          text-align: right;
        }
      }
    }
  }
</style>
