<template>
  <div class="dashboard-chart">
    <div class="title p-3" :style="makeStyleTitle(template)">{{template.title}}</div>
    <div class="body" :style="makeStyleBody(template)">
      <div class="mt-4 row" style="width: 100%;">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <apexchart width="100%" type="donut" :options="chartOptions"
                     :series="series"></apexchart>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 detail-chart">
          <div class="detail" v-for="(item, index) in series">
            <div class="detail-chart-left">
              <span class="bullet" :style="setBulletColor(index)">●</span>
              <span class="detail-name" :style="makeStyleFont(template)">{{ chartOptions.labels[index] }}</span>
            </div>
            <div class="detail-chart-right">
              <span :style="makeStyleFont(index)">{{ item | formatPrice }}</span>
              <!--                  <span> รายการ</span>-->
            </div>
          </div>
        </div>

        <!--        <div class="detail-chart">-->
        <!--          -->
        <!--        </div>-->
      </div>
    </div>
  </div>
</template>

<script>
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'

    const moment = require('moment')
    export default {
        props: {
            template: {
                required: true
            }
        },

        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar
        },
        data() {
            return {
                graphPieOptions: {},
                graphPieSeries: [],
                series: [0],
                // series: [],
                chartOptions: {
                    colors: ['#AAD1C8', '#184973', '#D9CEBA', '#6B7933', '#DC6657', '#E5A560'],
                    labels: [''],
                    // labels: ['Discount', 'Get 200 Point', 'Get 150 Point', 'Get 2 Free 1'],
                    legend: {
                        show: false,
                        fontFamily: 'Prompt, sans-serif',
                        formatter: (val, data) => {
                            // data.w.config.series[data.seriesIndex]
                            // return val +': '+data.w.config.series[data.seriesIndex]
                            return val + ': <span style="color: #858585;">' + data.w.config.series[data.seriesIndex] + ' รายการ</span>'
                        },
                        fontSize: '18px',
                        floating: true,
                        horizontalAlign: 'left',
                        // offsetX: -100
                        // position: 'bottom'
                    },
                    tooltip: {
                        enabled: false
                    },
                    plotOptions: {
                        pie: {
                            donut: {
                                size: '65%',
                                background: 'transparent',
                                labels: {
                                    show: true,
                                    name: {
                                        show: true,
                                        fontSize: '18px',
                                        fontFamily: 'Prompt, sans-serif',
                                        // color: undefined,
                                        // offsetY: -10,
                                        formatter: function (val) {
                                            return val
                                        }
                                    },
                                    value: {
                                        show: true,
                                        fontSize: '16px',
                                        fontFamily: 'Prompt, sans-serif',
                                        // color: undefined,
                                        // offsetY: 16,
                                        formatter: function (val) {
                                            return parseFloat(val).toFixed(0).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                        }
                                    },
                                    total: {
                                        show: false,
                                        label: 'Total',
                                        color: '#373d3f',
                                        formatter: function (w) {
                                            return w.globals.seriesTotals.reduce((a, b) => {
                                                return parseFloat((parseFloat(a) + parseFloat(b))).toFixed(0).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                            }, 0)
                                        }
                                    }

                                }
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        // formatter: function (val) {
                        //     return val + "%"
                        // },
                        dropShadow: {
                            blur: 3,
                            opacity: 0.8
                        }
                    }
                }
            }
        },
        mounted() {
            this.mapGraphPieOptions()
        },
        methods: {
            setBulletColor(index) {
                return {'color': this.chartOptions.colors[index]}
            },
            mapGraphPieOptions() {
                this.chartOptions.labels = [];
                this.series = []

                let series = []
                let labels = []
                _.each(this.template.data, (item) => {
                    labels.push(item.name)
                    series.push(parseInt(item.total))
                })

                this.chartOptions = {
                    ...this.chartOptions, ...{
                        labels: labels
                    }
                }
                this.series = series
            },

            makeStyleTitle(template) {
                return `font-size: ${template.title_font_size}; color: ${template.title_font_color};`
            },
            makeStyleBody(template) {
                return `font-size: ${template.data_font_size}; color: ${template.data_font_color};display: flex;
        align-items: center;
        justify-content: space-between;`
            },
            makeStyleFont(template) {
                return `font-size: ${template.data_font_size}; color: ${template.title_font_color};`
            },
        }
    }
</script>

<style lang="scss" scoped>
  .dashboard-chart {
    .detail-chart {
      /*position: absolute;*/
      /*top: 0;*/
      /*left: 50%;*/
      /*height: 100%;*/
      /*width: 50%;*/

      .detail {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        padding: 0 0 0.5rem;
        /*margin: 1rem 0;*/

        .detail-chart-left {
          flex: 1 0 70%;
          max-width: 70%;

          .bullet {
            font-size: 22px;
          }

          .detail-name {

          }
        }

        .detail-chart-right {
          flex: 1 0 30%;
          max-width: 30%;
          color: #858585;
          text-align: right;
        }
      }
    }
  }
</style>
