<template>
  <div class="dashboard-chart">
    <div class="title p-3" :style="makeStyleTitle(template)">{{template.title}}</div>
    <div class="body" :style="makeStyleBody(template)">
      <vue-perfect-scroll-bar class="table-responsive mt-4">
        <apexchart id="myChart" width="100%" type="bar" :options="chartOptions"
                   :series="series"></apexchart>
      </vue-perfect-scroll-bar>
    </div>
  </div>
</template>

<script>
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'

    const moment = require('moment')
    export default {
        props: {
            template: {
                required: true
            }
        },
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar
        },
        data() {
            return {
                series: [{
                    data: []
                }],
                chartOptions: {
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            // columnWidth: '55%',
                            // endingShape: 'rounded',
                            columnWidth: '75%',
                            barHeight: '100%',
                            // distributed: true,
                            // dataLabels: {
                            //     position: 'bottom'
                            // },
                        }
                    },
                    dataLabels: {
                        enabled: true
                    },
                    xaxis: {
                        labels: {
                            rotate: -45
                        },
                        categories: [''],
                    },
                    // yaxis: {
                    //     title: {
                    //         text: '$ (thousands)'
                    //     }
                    // },
                    fill: {
                        opacity: 1

                    },
                    colors: ['#AAD1C8', '#184973', '#D9CEBA', '#6B7933', '#DC6657', '#E5A560'],
                    stroke: {
                        // width: 1,
                        // colors: ['#fff']
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    tooltip: {
                        theme: 'dark',
                        x: {
                            show: false
                        },
                        y: {
                            formatter: function (val) {
                                return val
                            }
                        }
                        // y: {
                        //     title: {
                        //         formatter: function (val) {
                        //             return ''
                        //         }
                        //     }
                        // }
                    }
                }
            }
        },
        mounted() {
            this.mapGraphPieOptions()
        },
        methods: {
            setBulletColor(index) {
                return {'color': this.chartOptions.colors[index]}
            },
            mapGraphPieOptions() {
                let data = []
                let categories = []

                let groups = _.groupBy(this.template.data, 'group');

                // 0: {name: "2019-11-12", group: "500", total: 467}
                // 1: {name: "2019-11-12", group: "300", total: 600}
                // 2: {name: "2019-11-14", group: "500", total: 134}
                // 3: {name: "2019-11-14", group: "300", total: 5}


                // 0: {name: "2019-11-13", group: "500", total: 3}
                // 1: {name: "2019-11-14", group: "500", total: 2}
                // 2: {name: "2019-11-14", group: "300", total: 1}
                // 3: {name: "2019-11-15", group: "500", total: 19}
                // 4: {name: "2019-11-15", group: "300", total: 29}
                // 5: {name: "2019-11-18", group: "500", total: 7}
                // 6: {name: "2019-11-18", group: "300", total: 7}
                // 7: {name: "2019-11-19", group: "500", total: 5}
                // 8: {name: "2019-11-19", group: "300", total: 3}

                // console.log(groups)

                // groups == coupon price
                _.each(groups, (group, groupIndex)=>{
                    let name = _.first(group).name
                    let groupData = []

                    if(categories.length < group.length){
                        categories = []
                    }

                    _.each(group, (item, index)=>{
                        groupData.push(parseInt(item.total))
                        if(categories.length < group.length){
                            categories.push(item.name)
                        }
                    })

                    data.push({
                        name: _.first(group).group,
                        data: groupData
                    })

                    // data = [{
                    //     name: 'Net Profit',
                    //     data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
                    // }, {
                    //     name: 'Revenue',
                    //     data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
                    // }, {
                    //     name: 'Free Cash Flow',
                    //     data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
                    // }]

                })

                this.chartOptions = {
                    xaxis: {
                        categories: _.map(categories, (item, index) => {
                            if(categories.length === index+1){
                                return item
                            }else if(categories.length > 20){
                                return index % 3 === 0 ? item : ''
                            }else if(categories.length > 15){
                                return index % 2 === 0 ? item : ''
                            }else{
                                return item
                            }
                        })
                    }
                }

                this.series = data
            },

            makeStyleTitle(template) {
                return `font-size: ${template.title_font_size}; color: ${template.title_font_color};`
            },
            makeStyleBody(template) {
                return `font-size: ${template.data_font_size}; color: ${template.data_font_color};display: flex;
        align-items: center;
        justify-content: space-between;`
            },
            makeStyleFont(template) {
                return `font-size: ${template.data_font_size}; color: ${template.title_font_color};`
            },
        }
    }
</script>

<style lang="scss" scoped>
  .dashboard-chart {
    .detail-chart {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 50%;

      .detail {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        padding: 0 0 1rem;
        margin: 1rem 0;

        .detail-chart-left {
          flex: 1 0;

          .bullet {
            font-size: 22px;
          }

          .detail-name {

          }
        }

        .detail-chart-right {
          flex: 1 0;
          color: #858585;
          text-align: right;
        }
      }
    }
  }
</style>
