<template>
  <div class="dashboard-summary">
    <div class="title" :style="makeStyleTitle(template)">{{template.title}}</div>
    <div class="body" :style="makeStyleBody(template)">
      <div class="d-flex justify-content-between align-items-center">
        <span>{{template.data}}</span>
        <img :src="template.title_icon" alt="">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props:{
      template: {
        required: true
      }
    },
    methods:{
      makeStyleTitle(template) {
        return `font-size: ${template.title_font_size}; color: ${template.title_font_color};`
      },
      makeStyleBody(template) {
        return `font-size: ${template.data_font_size}; color: ${template.data_font_color};`
      },
    }
  }
</script>

<style lang="scss" scoped>
  .dashboard-summary{
    .body{
      img{
        width: 48px;
      }
    }
  }
</style>
