<template>
  <div class="dashboard-table p-3">
    <div class="title" :style="makeStyleTitle(template)">{{template.title}}</div>
    <div class="body" :style="makeStyleBody(template)">
      <vue-perfect-scroll-bar class="table-responsive mt-4">
        <table class="table table-hover">
          <thead>
          <tr :style="makeStyleTableHeader(template)">
            <th v-for="header in template.data_header">{{header.header}}</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="data in template.data">
            <td v-for="header in template.data_header">
              <img class="image" :src="data[header.field]" alt="" v-if="header.type === 'img'">
              <span v-else>{{ data[header.field] }}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </vue-perfect-scroll-bar>
    </div>
  </div>
</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  import {mapState} from 'vuex'
  import * as _ from 'lodash'
  export default {
    props:{
      template: {
        required: true
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    computed: {
      // ...mapState({
      //   user: state => state.user,
      //   viewTemplate: state => state.viewTemplate
      // }),
    },
    methods:{

      makeStyleTitle(template) {
        return `font-size: ${template.title_font_size}; color: ${template.title_font_color};`
      },
      makeStyleBody(template) {
        return `font-size: ${template.data_font_size}; color: ${template.data_font_color};`
      },
      makeStyleTableHeader(template) {
        return `color: ${template.data_header_font_color};`
      },
    }
  }
</script>

<style lang="scss" scoped>
  .dashboard-table{
    .image{
      max-height: 100px;
      max-width: 100px;
    }
  }
</style>
