<template>
  <div class="config-page container-fluid">
    <div class="card">
      <div class="card-title title row mb-0 pb-3">
        <div class="col-12">
          <span class="text-title">{{ title }}</span>
          <span v-if="templateFieldId === 'create'">Add</span>
          <span v-else>Edit</span>
        </div>
      </div>
      <form @submit.prevent="onSubmit">
        <div class="card-body">
          <div class="form-group row" v-for="(field, index) in fieldList">
            <label class="col-lg-3 col-md-6 col-sm-12" :for="'idInput'+index"
                   v-if="field.field_type !== 'image-thumbnail'">{{ field.field_caption }}</label>

            <input type="text" class="form-control col-lg-3 col-md-6 col-sm-12" :id="'idInput'+index"
                   v-model="field.db_value"
                   :required="field.is_required" v-if="field.field_type === 'image'" disabled>
            <div class="d-lg-none col-md-6 col-sm-12" v-if="field.field_type === 'image'"></div>
            <label v-if="field.field_type === 'image'"
                   class="btn btn-dark col-lg-2 col-md-6 col-sm-12 display-inline" style="cursor: pointer;">
              เลือก / แก้ไข
              <input type="file" name="image" style="position: absolute;opacity: 0;width: 10px;"
                     @change="uploadIdImage($event, field)" :id="'idInput'+index">
            </label>
            <div class="d-lg-none col-md-6 col-sm-12" v-if="field.field_type === 'image'"></div>

            <button type="button" name="image" v-if="field.field_type === 'image'"
                    class="btn btn-dark col-lg-2 col-md-6 col-sm-12 mb-2" @click="removeFile(field)"
                    style="height: 38px;"
                    :id="'idInput'+index">
              ลบ
            </button>

            <div class="col-lg-3 d-md-none col-sm-12" v-if="field.field_type === 'image'"></div>
            <div class="col-lg-3 col-md-6 col-sm-12" v-if="field.field_type === 'image'"></div>
            <img :src="field.db_value" alt="" class="col-lg-3 col-md-6 col-sm-12 image-style"
                 :id="'idInput'+index" :required="field.is_required" v-if="field.field_type === 'image'">

            <input type="text" class="form-control col-lg-3 col-md-6 col-sm-12" :id="'idInput'+index"
                   v-model="field.db_value"
                   :required="field.is_required" v-if="field.field_type === 'input'">
            <input type="text" class="form-control col-lg-3 col-md-6 col-sm-12" :id="'idInput'+index"
                   v-model="field.db_value" @keypress="isNumber($event)"
                   :required="field.is_required" v-if="field.field_type === 'number'">
            <input type="email" class="form-control col-lg-3 col-md-6 col-sm-12" :id="'idInput'+index"
                   v-model="field.db_value"
                   :required="field.is_required" v-if="field.field_type === 'email'">
            <input type="password" class="form-control col-lg-3 col-md-6 col-sm-12" :id="'idInput'+index"
                   v-model="field.db_value"
                   :required="field.is_required" v-if="field.field_type === 'password'">
            <input type="datetime-local" class="form-control col-lg-3 col-md-6 col-sm-12"
                   v-model="field.db_value" :min="minDate"
                   :id="'idInput'+index" :required="field.is_required"
                   v-if="field.field_type === 'datetime'">
            <input type="text" class="form-control col-lg-3 col-md-6 col-sm-12" :value="field.db_value"
                   :id="'idInput'+index" :required="field.is_required"
                   v-if="field.field_type === 'datetime-auto'" disabled="disabled">
            <input type="text" class="form-control col-lg-3 col-md-6 col-sm-12" :value="field.db_value"
                   :id="'idInput'+index" :required="field.is_required"
                   v-if="field.field_type === 'datetime-hide'" disabled="disabled">
            <input type="text" class="form-control-plaintext col-lg-3 col-md-6 col-sm-12"
                   v-model="field.db_value"
                   :id="'idInput'+index" :readonly="field.field_type === 'text'"
                   v-if="field.field_type === 'text'">
            <textarea class="form-control col-lg-3 col-md-6 col-sm-12" rows="4" cols="50"
                      v-model="field.db_value"
                      :id="'idInput'+index" :required="field.is_required"
                      v-if="field.field_type === 'textarea'">
                        </textarea>
            <select class="form-control col-lg-3 col-md-6 col-sm-12" :id="'idInput'+index"
                    v-model="field.db_value"
                    v-if="field.field_type === 'dropdown'">
              <option :value="param.value" v-for="param in field.param_list">{{ param.text }}</option>
            </select>
            <switch-button :isEnabled="changeStatusSwitch(field.db_value)"
                           v-on:onChange="onClickSwitch(field)"
                           v-if="field.field_type === 'toggle'"></switch-button>
          </div>
          <hr>
          <button class="btn btn-dark" type="submit">Save</button>
          <button type="button" class="btn btn-dark" @click.prevent="back">Back</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
    const moment = require('moment')
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import {mapState} from 'vuex'
    import SwitchButton from '../../../../components/SwitchButton'

    export default {
        data() {
            return {
                templateTableId: 11,
                rootId: null,
                templateFieldId: null,
                fieldList: [],
                title: ''
            }
        },
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar,
            SwitchButton,
        },
        computed: {
            ...mapState({
                user: state => state.user,
                viewTemplate: state => state.viewTemplate,
            }),
            minDate() {
                return moment('1900-01-01 00:00:00').format('YYYY-MM-DDTHH:mm')
            },

        },
        watch: {
            'user.loaded'(loaded) {
                if (loaded) {
                    if (this.templateFieldId === 'create') {
                        this.loadTemplate()
                    } else {
                        this.loadData()
                    }
                }
            }
        },
        mounted() {
            this.rootId = this.$route.query.rootId
            // this.templateTableId = this.$route.params.templateTableId

            this.templateFieldId = this.$route.params.templateFieldId

            if (this.user.loaded) {
                if (this.templateFieldId === 'create') {
                    this.loadTemplate()
                } else {
                    this.loadData()
                }
            }
        },

        methods: {
            onClickSwitch(field) {
                if (field.db_value) {
                    if (field.db_value === 0) {
                        field.db_value = 1
                    } else {
                        field.db_value = 0
                    }
                } else {
                    field.db_value = 1
                }

            },
            clearFiles() {
                $('input[name="image"]').val("")
            },
            removeFile(field) {
                $.confirm({
                    title: 'ยืนยัน',
                    content: 'คุณต้องการลบหรือไม่?',
                    buttons: {
                        pay: {
                            btnClass: 'btn-danger',
                            text: 'ตกลง',
                            action: () => {
                                if (field.field_type === 'image') {
                                    field.db_value = ''
                                }
                                this.clearFiles()
                            }
                        },
                        cancel: {
                            btnClass: 'btn-dark',
                            text: 'ยกเลิก',
                            action: () => {
                                return
                            }
                        }
                    }
                })
            },
            changeStatusSwitch(status) {
                if (status) {
                    return (status === 1)
                }
                return false
            },
            uploadIdImage(event, field) {
                let image = event.target.files[0];
                this.$store.dispatch('viewTemplate/sendImageTableField', {
                    image: image
                }).then((data) => {
                    if (field.field_type === 'image') {
                        field.db_value = data.data.origin
                    }

                    let thumbnail = _.find(this.fieldList, ['field_type', 'image-thumbnail'])
                    if (thumbnail) {
                        thumbnail.db_value = data.data.thumbnail
                    }
                }).catch((error)=>{
                    this.handleCatch(error)
                })
            },
            isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode < 48 || charCode > 57) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },
            onSubmit() {
                let parameter = {}
                _.each(this.fieldList, (item) => {
                    if (item.field_type === 'datetime') {
                        parameter[item.db_field_name] = moment(item.db_value).format('YYYY-MM-DD HH:mm')
                    } else if (item.field_type === 'date') {
                        parameter[item.db_field_name] = moment(item.db_value).format('YYYY-MM-DD')
                    } else if (item.field_type === 'time') {
                        parameter[item.db_field_name] = moment(item.db_value).format('HH:mm')
                    } else if (item.field_type === 'datetime-auto') {
                        parameter[item.db_field_name] = moment(item.db_value).format('YYYY-MM-DD HH:mm')
                    } else if (item.field_type === 'datetime-hide') {
                        parameter[item.db_field_name] = 'null'
                    } else {
                        parameter[item.db_field_name] = item.db_value
                    }
                })

                if (this.templateFieldId === 'create') {
                    this.create(parameter)
                } else {
                    this.edit(parameter)
                }
            },
            create(parameter) {
                this.$store.dispatch('viewTemplate/addTableField', {
                    parameter: parameter,
                    table_id: this.templateTableId
                }).then(() => {
                    this.back()
                }).catch((error)=>{
                    this.handleCatch(error)
                })
            },
            edit(parameter) {
                this.$store.dispatch('viewTemplate/updateTableField', {
                    parameter: parameter,
                    table_id: this.templateTableId,
                    field_id: this.templateFieldId,
                }).then(() => {
                    this.back()
                }).catch((error)=>{
                    this.handleCatch(error)
                })
            },
            back() {
                this.$router.go(-1)
                // this.$router.push(`/privilege-quota-setting`)
            },
            loadTemplate() {
                this.$store.dispatch('viewTemplate/getTableField', {
                    table_id: this.templateTableId
                }).then((data) => {
                    this.title = data.title
                    this.fieldList = this.viewTemplate.data
                    this.fieldList = _.map(this.fieldList, (item) => {
                        if(item.db_field_name === data.parent_filed){
                            if(this.rootId){
                                item.db_value = this.rootId
                            }
                        }
                        if (item.field_type === 'datetime-auto') {
                            item.db_value = moment().format('YYYY-MM-DD HH:mm:ss')
                        }
                        if (item.field_type === 'datetime-hide') {
                            item.db_value = null
                        }
                        return item
                    })
                })
            },
            loadData() {
                this.$store.dispatch('viewTemplate/getTableFieldEdit', {
                    table_id: this.templateTableId,
                    field_id: this.templateFieldId
                }).then((data) => {
                    this.title = data.title
                    _.each(this.viewTemplate.data, (item) => {
                        if (item.field_type === 'datetime') {
                            item.db_value = moment(item.db_value).format('YYYY-MM-DDTHH:mm')
                        } else if (item.field_type === 'date') {
                            item.db_value = moment(item.db_value).format('YYYY-MM-DD')
                        } else if (item.field_type === 'time') {
                            item.db_value = moment(item.db_value).format('HH:mm')
                        } else if (item.field_type === 'datetime-auto') {
                            item.db_value = moment().format('YYYY-MM-DDTHH:mm')
                        } else if (item.field_type === 'datetime-hide') {
                            item.db_value = null
                        } else {
                            //
                        }
                    })
                    this.fieldList = this.viewTemplate.data
                })
            }
        }
    }
</script>

<style lang="scss">
  .config-page {
    min-height: calc(100vh - 65px);
    background-color: #f6f8fa;
    padding: 1rem;

    .btn-dark {
      margin-left: 10px;
    }

    @media (max-width: 998px) {
      .btn-dark {
        margin-top: 10px;
        margin-left: 0;
      }
    }
    @media (max-width: 666px) {
      .image-style {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .style-btn {
      border-radius: 3px;
      font-family: THSarabunBold;
      height: 38px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
    }

    .image-style {
      height: auto;
      width: 80px;
    }

    .font-size {
      font-size: 14px;
      font-weight: normal;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;

      .text-title {
        flex: 1 0;
      }

      .action-title {
        flex: 0 0;
        display: flex;

        .box-input {
          position: relative;
          width: 310px;
          margin-right: 1rem;

          .icon {
            position: absolute;
            top: 12px;
            left: 12px;
            height: 16px;
          }

          .form-control {
            padding-left: 40px;
          }
        }

        .btn {
          display: flex;
          align-items: center;

          .icon {
            height: 12px;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .body {
      .table {
        thead {
          font-weight: normal;
          color: #858585;
        }

        tbody {
          tr {
            td {
              vertical-align: inherit;

              &.action {
                .btn {
                  display: inline-flex;
                  align-items: center;
                  vertical-align: middle;
                  margin-right: 0.25rem;

                  .icon {
                    height: 12px;
                    margin-right: 0.25rem;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
</style>
