<template>
  <div class="modal-change-password-component">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <span>Change Password</span>
            <img src="../assets/icons/close_black.png" alt="" class="icon" @click="close">
          </div>


          <form @submit.prevent="save">
            <vue-perfect-scroll-bar class="modal-body">
              <input type="password" class="form-control" id="navCurrentPassword" placeholder="Current Password" v-model="current_password"
                     required>
              <input type="password" class="form-control mt-3" id="navNewPassword" placeholder="New Password" v-model="new_password"
                     required>
              <input type="password" class="form-control mt-3" id="navConfirmPassword" placeholder="Confirm Password" v-model="confirm_password"
                     required>
            </vue-perfect-scroll-bar>

            <div class="modal-footer">
              <button type="submit" class="btn btn-dark w-25" :disabled="disableBtn">Submit</button>
              <!--<button class="btn btn-light" @click="close">Close</button>-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const moment = require('moment')
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import * as sha256 from 'sha256'

  export default {
    data() {
      return {
        current_password: '',
        new_password: '',
        confirm_password: '',
        disableBtn: false
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    methods: {
      close() {
        this.$emit('close')
      },
      save() {
        this.disableBtn = true
        if (this.new_password !== this.confirm_password) {
          $.alert({
            title: '',
            content: 'Password do not match'
          })
          this.disableBtn = false
          return
        }

        this.$store.dispatch('user/changePassword', {
          current_password: sha256(this.current_password),
          new_password: sha256(this.new_password)
        }).then((data) => {
          $.alert({
            title: '',
            content: 'Change Password Success'
          })

          this.$emit('close')
        }).catch((error) => {
          this.disableBtn = false
          this.handleCatch(error)
        })
      }
    }
  }
</script>

<style lang="scss">
  .modal-change-password-component{
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 500px;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }
          .modal-header{
            span{
              font-size: 18px;
              font-weight: 500;
            }
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem;
            max-height: 60vh;

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
