<template>
  <div class="choose-material-dialog">
    <div class="choose-material-dialog-box">
      <div class="header">
        <span>Choose Material</span>
        <img src="../assets/icons/close_black.png" alt="" class="icon" @click="close">
      </div>
      <hr>
      <div class="body">
        <form @submit.prevent="searchMaterial">
          <div class="row mb-3">
            <div class="col-4">
              <div class="form-group row">
<!--                <label for="search-po" class="col-4 col-form-label ">Search</label>-->
              </div>
            </div>
            <div class="col-5">
              <input type="text" class="form-control" id="search-po" placeholder="Material" v-model="textSearch">
            </div>
            <div class="col-3">
              <button type="submit" class="btn btn-outline-dark">Search</button>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Key</th>
              <th>Text</th>
              <th>Sales Text EN</th>
              <th>Sales Text TH</th>
              <th>Choose</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in materialList">
              <th>{{ item.material_key }}</th>
              <th>{{ item.material_text }}</th>
              <th>{{ item.material_sales_text_en }}</th>
              <th>{{ item.material_sales_text_th }}</th>
              <th><button class="btn btn-outline-dark" @click.prevent="chooseItem(item)">Choose</button></th>
            </tr>
            </tbody>
          </table>
        </div>

<!--        <ul class="pagination justify-content-end mt-2">-->
<!--          <li class="page-item disabled">-->
<!--            <a class="page-link" href="#" @click.prevent="changePage(sticker.firstPage)">First</a>-->
<!--          </li>-->
<!--          <li class="page-item disabled">-->
<!--            <a class="page-link" href="#" @click.prevent="changePage(sticker.previousPage)">&laquo;</a>-->
<!--          </li>-->
<!--          <li class="page-item active">-->
<!--            <a class="page-link" href="#">1</a>-->
<!--          </li>-->
<!--          <li class="page-item disabled">-->
<!--            <a class="page-link" href="#">&raquo;</a>-->
<!--          </li>-->
<!--          <li class="page-item disabled">-->
<!--            <a class="page-link" href="#">Last</a>-->
<!--          </li>-->
<!--&lt;!&ndash;          <li class="page-item"&ndash;&gt;-->
<!--&lt;!&ndash;              :class="{'disabled': sticker.firstPage === null || sticker.meta.current_page === 1}">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="page-link" href="#" @click.prevent="changePage(sticker.firstPage)">First</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="page-item" :class="{'disabled': sticker.previousPage === null}">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="page-link" href="#" @click.prevent="changePage(sticker.previousPage)">&laquo;</a></li>&ndash;&gt;-->

<!--&lt;!&ndash;          <li class="page-item" :class="{'active': pageNumber === range}" v-for="range in rangeWithDots">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="page-link" href="#" v-if="range === '...'">{{ range }}</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="page-link" href="#" v-else @click.prevent="changePageNumber(range)">{{ range }}</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->

<!--&lt;!&ndash;          <li class="page-item" :class="{'disabled': sticker.nextPage === null}">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="page-link" href="#" @click.prevent="changePage(sticker.nextPage)">&raquo;</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="page-item"&ndash;&gt;-->
<!--&lt;!&ndash;              :class="{'disabled': sticker.lastPage === null || sticker.meta.current_page === sticker.meta.last_page}">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="page-link" href="#" @click.prevent="changePage(sticker.lastPage)">Last</a></li>&ndash;&gt;-->
<!--        </ul>-->

      </div>
    </div>
  </div>
</template>

<script>
  export default {
      data(){
          return{
              textSearch: '',
              materialList: []
          }
      },
      methods:{
          searchMaterial(){
              this.$store.dispatch('promotion/getMaterialList', this.textSearch)
                  .then((data)=>{
                      this.materialList = data.data
                  })
                  .catch((error)=>{
                      this.handleCatch(error)
                  })
          },
          chooseItem(material){
              this.$emit('choose', material.material_key)
          },
          close(){
              this.$emit('close')
          }
      }

  }
</script>

<style lang="scss" scoped>
  .choose-material-dialog{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease;

    .choose-material-dialog-box {
      min-width: 500px;
      max-width: 80vw;
      min-height: 250px;
      margin: 0 auto;
      padding: 1rem;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;

      .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
          font-size: 18px;
          font-weight: 500;
        }
        .icon {
          cursor: pointer;
          height: 16px;
        }
      }
    }
  }
</style>
