<template>
  <div class="vue-modal-create-users">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <form @submit.prevent="save">
            <div class="modal-header">
              <span>Create Generate Sticker</span>
              <img src="../assets/icons/close_black.png" alt="" class="icon" @click="close">
            </div>

            <vue-perfect-scroll-bar class="modal-body">
              <div class="form-group">
                <label for="jobCode">Job Name</label>
                <input type="text" class="form-control" id="jobCode" v-model="job_code" required>
              </div>

              <div class="form-group">
                <label for="jobDescription">Job Description</label>
                <input type="text" class="form-control" id="jobDescription" v-model="job_description" required>
              </div>

<!--              <div class="form-group">-->
<!--                <label for="jobDate">Job Date</label>-->
<!--                <input type="datetime-local" class="form-control" id="jobDate" v-model="job_date">-->
<!--              </div>-->

              <div class="form-group">
                <label for="dueDate">Due Date</label>
                <input type="date" class="form-control" id="dueDate" v-model="due_date">
              </div>

<!--              <div class="form-group">-->
<!--                <label for="stickerDue">Order No</label>-->
<!--                <input type="text" class="form-control" id="stickerDue" v-model="order_no" @blur="blurOrder" @click="clickOrderNo" @keypress="isNumber($event)" required>-->
<!--              </div>-->

              <div class="form-group">
                <label for="spc">No. of Sticker</label>
                <input type="text" class="form-control" id="spc" placeholder="Sticker Count" v-model="sticker_total" @blur="blurPiece" @click="clickPiece" @keypress="isNumber($event)" required>
              </div>

              <div class="form-group">
                <label for="spl">Sticker/Sheet</label>
                <input type="text" class="form-control" id="spl" placeholder="Sticker Per Lot" disabled="disabled" :value="sticker_per_lot" @blur="blurPerLot" @click="clickPerLot" @keypress="isNumber($event)" required>
              </div>

<!--              <div class="form-group">-->
<!--                <label for="sum">Total Lot</label>-->
<!--                <input type="text" class="form-control" id="sum" placeholder="Sticker Per Lot" v-model="total_lot" disabled>-->
<!--              </div>-->

            </vue-perfect-scroll-bar>

            <div class="modal-footer">
              <button type="submit" class="btn btn-dark">Submit</button>
              <button class="btn btn-light" @click="close">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const moment = require('moment')
  import {mapState} from 'vuex'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    // props: {
    //   user: {
    //     required: true
    //   }
    // },
    data() {
      return {
        job_code:'',
        job_description:'',
        // job_date: moment().add(1, 'month').format('YYYY-MM-DD'),
        job_date: moment().format('YYYY-MM-DDTHH:mm'),
        sticker_total: 0,
        sticker_per_lot: 24,
        order_no: 0,

        due_date: moment().format('YYYY-MM-DD'),
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    mounted() {

    },
    methods: {
      clickPiece(){
        if(this.sticker_total === 0){
          this.sticker_total = ''
        }
      },
      clickPerLot(){
        if(this.sticker_per_lot === 0){
          this.sticker_per_lot = ''
        }
      },
      clickOrderNo(){
        if(this.order_no === 0){
          this.order_no = ''
        }
      },
      close() {
        this.$emit('close')
      },
      save() {
        this.$emit('save', {
          job_code: this.job_code,
          job_description: this.job_description,
          job_date: moment(this.job_date).format('YYYY-MM-DD HH:mm:ss'),
          due_date: moment(this.due_date).format('YYYY-MM-DD'),
          sticker_total: this.sticker_total,
          sticker_per_lot: this.sticker_per_lot,
          order_no: this.order_no
        })
      },
      blurPiece(){
        if(this.sticker_total === '' || this.sticker_total < 0){
          this.sticker_total = 0
        }
      },
      blurPerLot(){
        if(this.sticker_per_lot === '' || this.sticker_per_lot < 0){
          this.sticker_per_lot = 0
        }
      },
      blurOrder(){
        if(this.order_no === '' || this.order_no < 0){
          this.order_no = 0
        }
      },
      isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode < 48 || charCode > 57) {
          evt.preventDefault();
        } else {
          return true;
        }
      },
    },
    computed: {
      // ...mapState({
      //   permission: state => state.permission,
      //   master: state => state.master
      // }),
      // minDate() {
      //   return moment().format('YYYY-MM-DDTHH:mm:ss')
      // },
      total_lot() {
        let summary = 0

        if (this.sticker_per_lot !== 0 && this.sticker_per_lot !== '' && this.sticker_total !== 0 && this.sticker_total !== '') {
          summary =  parseFloat(this.sticker_total) / parseFloat(this.sticker_per_lot)
        }
        return summary
      },
    }
  }
</script>

<style lang="scss">
  .vue-modal-create-users {

    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 500px;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem 1rem 0;
            max-height: 60vh;

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
