<template>
  <div class="modal-change-password-component">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <span>Create Banner</span>
            <img src="../assets/icons/close_black.png" alt="" class="icon" @click="close">
          </div>

          <form @submit.prevent="save">

            <vue-perfect-scroll-bar class="modal-body">
              <div class="form-group">
                <label for="priority">Image / Video</label>
                <div class="drop display-inline align-center" @dragover.prevent @drop="onDrop">
                  <div class="helper"></div>
                  <label v-if="!image" class="btn btn-dark w-25 display-inline" style="color: white">
                    Select
                    <input type="file" name="image" accept="image/*|video/*" @change="uploadIdNo($event)">
                  </label>

                  <div class="hidden display-inline align-center" v-else v-bind:class="{ 'image': true }">
                    <img :src="image" alt="" class="img"/>
                    <br>
                    <br>
                    <button class="btn btn-dark w-50" @click="removeFile">Delete</button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-12">
                    <label>เริ่มแสดง</label>
                  </div>
                  <div class="col-5 pr-0">
                    <input type="date" class="form-control" v-model="start_date" :max="end_date">
                  </div>
                  <div class="col-2 d-flex align-items-center justify-content-center">ถึง</div>
                  <div class="col-5 pl-0">
                    <input type="date" class="form-control" v-model="end_date" :min="start_date">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="priority">Priority</label>
                <input type="text" class="form-control" id="priority" placeholder="0" v-model="priority"
                       @keypress="isNumber($event)" maxlength="3" @click="clearPriority" required>
              </div>
              <div class="form-group">
                <label for="url">Url</label>
                <input type="text" class="form-control" id="url" v-model="url">
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="is_active" v-model="is_active">
                <label class="custom-control-label" for="is_active" style="color: #858585;">Active</label>
              </div>
            </vue-perfect-scroll-bar>

            <div class="modal-footer">
              <button type="submit" class="btn btn-dark w-25">Submit</button>
              <button class="btn btn-light" @click="close">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    const moment = require('moment')
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import * as sha256 from 'sha256'
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                priority: 0,
                is_active: true,
                url: '',
                file: '',
                image: '',
                start_date: moment().format('YYYY-MM-DD'),
                end_date: moment().add('1', 'month').format('YYYY-MM-DD'),
            }
        },
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar
        },
        computed: {
            ...mapState({
                banner: state => state.banner,
            }),
        },
        methods: {
            clearPriority() {
                this.priority = ''
            },
            onDrop: function (e) {
                e.stopPropagation();
                e.preventDefault();
                let filer = e.dataTransfer.files;
                this.createFile(filer[0]);
            },
            uploadIdNo(event) {
                let filer = event.target.files[0];
                this.file = event.target.files[0];
                this.createFile(filer);
            },
            createFile(filer) {
                if (!filer) {
                    return false
                }
                let vm = this;

                if (filer.type.match('image.*')) {
                    let img = new Image();
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        vm.image = e.target.result;
                    }
                    reader.readAsDataURL(filer);
                }else if(filer.type.match('video.*')){
                    let fileReader = new FileReader();
                    fileReader.onload = function() {
                        let blob = new Blob([fileReader.result], {type: filer.type});
                        let url = URL.createObjectURL(blob);
                        let video = document.createElement('video');
                        let timeupdate = function() {
                            if (snapImage()) {
                                video.removeEventListener('timeupdate', timeupdate);
                                video.pause();
                            }
                        };
                        video.addEventListener('loadeddata', function() {
                            if (snapImage()) {
                                video.removeEventListener('timeupdate', timeupdate);
                            }
                        });
                        let snapImage = function() {
                            let canvas = document.createElement('canvas');
                            canvas.width = video.videoWidth;
                            canvas.height = video.videoHeight;
                            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                            let image = canvas.toDataURL();
                            let success = image.length > 100000;
                            if (success) {
                                vm.image = image;
                                URL.revokeObjectURL(url);
                            }
                            return success;
                        };
                        video.addEventListener('timeupdate', timeupdate);
                        video.preload = 'metadata';
                        video.src = url;
                        // Load video in Safari / IE11
                        video.muted = true;
                        video.playsInline = true;
                        video.play();
                    };
                    fileReader.readAsArrayBuffer(filer);
                }


            },
            removeFile() {
                this.image = '';
            },

            close() {
                this.$emit('close')
            },
            save() {
                this.$store.dispatch('banner/createBanner', {
                    priority: this.priority,
                    is_active: (this.is_active ? 1 : 0),
                    url: this.url,
                    file: this.file,
                    start_date: this.start_date,
                    end_date: this.end_date,
                }).then((data) => {
                    this.$emit('confirm')
                }).catch((error) => {
                    this.handleCatch(error)
                })
            },
            isNumber(evt) {
                evt = (evt) ? evt : window.event;
                let charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode < 48 || charCode > 57) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },
        }
    }
</script>

<style lang="scss">
  .modal-change-password-component {
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      /* Upload Image*/
      .btn {
        cursor: pointer;
        display: inline-block;
      }

      input[type="file"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
        width: 25px;
      }

      .align-center {
        text-align: center;
      }

      .hidden {
        display: none !important;
      }

      .hidden.image {
        display: inline-block !important;
      }

      .display-inline {
        display: inline-block;
        vertical-align: middle;
      }

      .img {
        border: 1px solid #f6f6f6;
        display: inline-block;
        width: 200px;
        height: auto;
      }

      .drop {
        height: 100%;
        max-height: 400px;
        max-width: 600px;
        width: 100%;
      }

      /* Upload Image End*/

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 500px;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-header {
            span {
              font-size: 18px;
              font-weight: 500;
            }
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem;
            max-height: 60vh;

            /*.form-group {*/
            /*  label, input, select, textarea {*/
            /*    color: #858585;*/

            /*    &::placeholder {*/
            /*      color: #858585;*/
            /*    }*/
            /*  }*/
            /*}*/
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
