<template>
  <div class="vue-modal-create-users">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <form @submit.prevent="save">
            <div class="modal-header">
              <span>Create Promotion</span>
              <img src="../assets/icons/close_black.png" alt="" class="icon" @click="close">
            </div>

            <vue-perfect-scroll-bar class="modal-body">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Promotion Name" v-model="name" required>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" placeholder="Description" v-model="description"
                       required>
              </div>
              <div class="form-group">
                <label for="condition">Condition:</label>
                <input type="text" class="form-control" id="condition" placeholder="Condition" v-model="condition"
                       required>
              </div>
              <div class="form-group">
                <label for="rate">Rate:</label>
                <input type="text" class="form-control" id="rate" placeholder="0" v-model="rate" @click="clearRate"
                       @blur="defaultRate" @keypress="numOnly">
              </div>
              <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate" v-model="start_date" required>
              </div>
              <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate" v-model="end_date" required>
              </div>
              <div class="form-group">
                <label for="status">Status:</label>
                <select class="form-control" id="status" v-model="is_active">
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                </select>
              </div>
<!--              {{ material_key }}-->
              <div class="form-group">
                <label for="promotionMappingGroupLevel">Mapping Group Level:</label>
                <select id="promotionMappingGroupLevel" class="form-control" v-model="material_key"
                        @change.prevent="changeGroupLevel">
                  <option :value="item.value" v-for="item in group_key_level">{{ item.text }}</option>
                </select>
              </div>
<!--              {{ material_value }}-->
              <div class="form-group" v-if="material_key != 0">
                <label for="promotionMappingLevel">Mapping Level</label>
                <select id="promotionMappingLevel" class="form-control" v-model="material_value">
                  <option :value="item.key" v-for="item in group_level">{{ item.value }}</option>
                </select>
              </div>
              <div v-else>
                <div class="form-group">
                  <label for="promotionMappingMaterial">Choose Material</label>
                  <div class="input-group mb-3">
                    <input type="text" id="promotionMappingMaterial" class="form-control" readonly
                           :value="material_value" aria-describedby="btn-search-material">
                    <div class="input-group-append">
                      <button class="btn btn-outline-dark" id="btn-search-material"
                              @click.prevent="is_show_dialog_choose_material = true">Choose Material
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </vue-perfect-scroll-bar>

            <div class="modal-footer">
              <button type="submit" class="btn btn-dark">Submit</button>
              <!--<button class="btn btn-light" @click="close">Close</button>-->
            </div>
          </form>
        </div>
      </div>
    </div>

    <choose-material v-if="is_show_dialog_choose_material" v-on:close="is_show_dialog_choose_material = false"
                     v-on:choose="chooseMaterial"></choose-material>

  </div>
</template>

<script>
    import ChooseMaterial from "../components/ChooseMaterial";

    const moment = require('moment')

    import * as sha256 from 'sha256'
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                name: '',
                description: '',
                condition: '',
                rate: '0',
                start_date: moment().format('YYYY-MM-DD'),
                end_date: moment().add(1, 'week').format('YYYY-MM-DD'),
                // active_date: moment().format('YYYY-MM-DD'),
                material_id: '',
                material_key: 0,
                material_value: 0,

                group_key_level: [
                    {
                        id: 9,
                        value: '0',
                        text: 'Material'
                    },
                    {
                        id: 8,
                        value: '1',
                        text: 'Category'
                    },
                    {
                        id: 7,
                        value: '2',
                        text: 'Marketing Group'
                    },
                    {
                        id: 6,
                        value: '3',
                        text: 'Sub Marketing Group'
                    },
                    {
                        id: 5,
                        value: '4',
                        text: 'Brand'
                    },
                    {
                        id: 4,
                        value: '5',
                        text: 'Type'
                    },
                    {
                        id: 3,
                        value: '6',
                        text: 'Function'
                    },
                    {
                        id: 2,
                        value: '7',
                        text: 'Size'
                    },
                    {
                        id: 1,
                        value: '8',
                        text: 'Material Shade'
                    },
                    {
                        id: 0,
                        value: '9',
                        text: 'Material Group'
                    }
                ],
                group_level: [],

                master_group_level: [],
                is_show_dialog_choose_material: false,
                is_active: '1'
            }
        },
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar,
            ChooseMaterial
        },
        computed: {
            ...mapState({
                memberTier: state => state.master.memberTier
            })
        },
        methods: {
            chooseMaterial(material) {
                this.material_value = material
                this.is_show_dialog_choose_material = false
            },
            changeGroupLevel() {
                // this.group_level = _.filter(this.master_group_level, (item) => {
                //     return item.group_key_id == this.material_key
                // })
                this.$store.dispatch('promotion/getMaterialValueByKey', this.material_key)
                    .then((data) => {
                        this.group_level = data.data

                        if (this.group_level.length > 0) {
                            this.material_value = _.first(this.group_level).key
                        } else {
                            this.material_value = ''
                        }
                    })
                    .catch((error) => {
                        this.material_value = ''
                        this.handleCatch(error)
                    })


            },
            clearRate() {
                this.rate = ''
            },
            defaultRate() {
                this.rate = (this.rate === '' ? 0 : this.rate)
            },
            close() {
                this.$emit('close')
            },
            save() {
                this.$emit('save', {
                    name: this.name,
                    description: this.description,
                    condition: this.condition,
                    rate: this.rate,
                    start_date: this.start_date,
                    end_date: this.end_date,
                    // active_date: this.active_date,
                    material_id: this.material_id,
                    material_key: this.material_key,
                    material_value: this.material_value,
                    is_active: (this.is_active === '1')
                })
                // 'name' => 'required',
                //     'description' => 'required',
                //     'condition' => 'nullable',
                //     'rate' => 'required',
                //     'start_date' => 'required',
                //     'end_date' => 'required',
                //     'active_date' => 'nullable',
                //     'material_id' => 'nullable',
                //     'material_key' => 'required',
                //     'material_value' => 'required'
            },
            numOnly(evt) {
                evt = (evt) ? evt : window.event

                let charCode = (evt.which) ? evt.which : evt.keyCode

                if (!(charCode >= 48 && charCode <= 57) && charCode !== 46) {
                    evt.preventDefault()
                }
            }
        }
    }
</script>

<style lang="scss">
  .vue-modal-create-users {
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 500px;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem 1rem 0;
            max-height: 60vh;

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
