<template>
  <div class="vue-modal-filter-report">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-body" style="padding-bottom: 10px">
            <div class="row">
              <div class="col-6">
                <span>Add Sticker / Sheet</span>
              </div>
              <div class="col-6 text-right">
                <img src="../assets/icons/close_black.png" alt="" @click="close" style="cursor: pointer;height: 12px;">
              </div>
            </div>
          </div>
          <vue-perfect-scroll-bar class="modal-body">
            <div class="form-group">
              <label>Sticker Code / Sheet</label>
              <input type="text" class="form-control" v-model="sticker_code">
            </div>
          </vue-perfect-scroll-bar>
          <div class="modal-footer">
            <button class="btn btn-dark" @click="saveData">Submit</button>
            <button class="btn btn-light" @click="clearData">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  const moment = require('moment')

  export default {
    // props: {
    //   date_from: {
    //     required: false,
    //     default: moment().format('YYYY-MM-DD')
    //   },
    // },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    data() {
      return {
        sticker_code: '',
      }
    },
    methods: {
      saveData() {
        // $.confirm({
        //   title: 'ยืนยัน',
        //   content: 'คุณต้องการเพิ่ม Sticker นี้หรือไม่',
        //   buttons: {
        //     pay: {
        //       btnClass: 'btn-dark',
        //       text: 'ตกลง',
        //       action: () => {
        //         this.$emit('save', {
        //           sticker_code: this.sticker_code,
        //         })
        //       }
        //     },
        //     cancel: {
        //       btnClass: 'btn-danger',
        //       text: 'ยกเลิก',
        //       action: () => {
        //         return
        //       }
        //     }
        //   }
        // })
        this.$emit('save', {
          sticker_code: this.sticker_code,
        })
      },
      clearData() {
        this.sticker_code = ''
        this.close()
      },
      close() {
        this.$emit('close')
      },

    },
    mounted() {

    }
  }
</script>

<style lang="scss" scoped>
  .vue-modal-filter-report {
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 530px;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem 1rem 0;
            max-height: 60vh;

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 12px;
            }
          }
        }
      }
    }
  }
</style>
