<template>
  <div class="vue-modal-filter-history">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <span>Filter</span>
            <img src="../assets/icons/close_black.png" alt="" class="icon" @click="close">
          </div>

          <vue-perfect-scroll-bar class="modal-body">
            <div class="form-group">
              <label for="dateForm">Date From:</label>
              <input type="date" class="form-control" id="dateForm" v-model="date_from">
            </div>

            <div class="form-group">
              <label for="dateTo">Date To:</label>
              <input type="date" class="form-control" id="dateTo" v-model="date_to" :min="minDate">
            </div>
          </vue-perfect-scroll-bar>

          <div class="modal-footer">
            <button class="btn btn-dark" @click="save">Submit</button>
            <!--<button class="btn btn-light" @click="close">Close</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const moment = require('moment')
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    data(){
      return{
        employee: '',
        member: '',
        date_from: moment().add(-1,'month').format('YYYY-MM-DD'),
        date_to: moment().format('YYYY-MM-DD')
      }
    },
    computed:{
      minDate() {
        return moment(this.date_from).format('YYYY-MM-DD')
      },
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    methods: {
      close() {
        this.$emit('close')
      },
      save() {
        this.$emit('save', {
          // employee: this.employee,
          // member: this.member,
          date_from: moment(this.date_from).format('YYYY-MM-DD'),
          date_to: moment(this.date_to).format('YYYY-MM-DD'),
        })
      }
    }
  }
</script>

<style lang="scss">
  .vue-modal-filter-history {
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;
      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        .modal-container {
          width: 500px;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;
          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }
          .modal-footer {
            justify-content: flex-start;
          }
          .modal-body{
            padding: 1rem 1rem 0;
            max-height: 60vh;
            .form-group{
              label, input, select, textarea{
                color: #858585;
                &::placeholder{
                  color: #858585;
                }
              }
            }
          }
          .modal-header {
            align-items: center;
            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
