<template>
  <div class="vue-modal-create-users">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <form @submit.prevent="save">
            <div class="modal-header">
              <span>Activate Generate Sticker</span>
              <img src="../assets/icons/close_black.png" alt="" class="icon" @click="close">
            </div>

            <vue-perfect-scroll-bar class="modal-body">
              <div class="form-group">
                <label for="lotNo">Lot no.</label>
                <input type="text" class="form-control" id="lotNo" v-model="activate_lot_no">
              </div>

              <div class="form-group m-0" style="text-align: center">
                <label>or</label>
              </div>

              <div class="form-group">
                <label for="barCode">Bar Code</label>
                <textarea type="text" class="form-control" id="barCode" v-model="activate_barcode"></textarea>
              </div>


            </vue-perfect-scroll-bar>

            <div class="modal-footer">
              <button type="submit" class="btn btn-dark">Submit</button>
              <button class="btn btn-light" @click="close">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const moment = require('moment')
  import {mapState} from 'vuex'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    // props: {
    //   user: {
    //     required: true
    //   }
    // },
    data() {
      return {
        activate_lot_no:'',
        activate_barcode:'',
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    mounted() {

    },
    watch:{
      'activate_lot_no'(newValue, oldValue){
        if(newValue.length){
          this.activate_barcode = ''
        }
      },
      'activate_barcode'(newValue, oldValue){
        if(newValue.length){
          this.activate_lot_no = ''
        }
      },
    },
    methods: {
      close() {
        this.$emit('close')
      },
      save() {
        this.$emit('save', {
          activate_lot_no: this.activate_lot_no,
          activate_barcode: this.activate_barcode,
        })
        this.close()
      },
      isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode < 48 || charCode > 57) {
          evt.preventDefault();
        } else {
          return true;
        }
      },
    },
    computed: {
      // ...mapState({
      //   permission: state => state.permission,
      //   master: state => state.master
      // })
    }
  }
</script>

<style lang="scss">
  .vue-modal-create-users {

    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 500px;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem 1rem 0;
            max-height: 60vh;

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
