<template>
  <div class="vue-modal-create-qrcode">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <span>Create QR Code</span>
            <img src="../assets/icons/close_black.png" alt="" class="icon" @click="close">
          </div>
          <vue-perfect-scroll-bar class="modal-body">
            <div class="form-group">
              <label for="data1">Point</label>
              <input type="text" class="form-control" id="data1" v-model="point">
            </div>
          </vue-perfect-scroll-bar>
          <div class="modal-footer">
            <button class="btn btn-dark" @click="save">Submit</button>
            <button class="btn btn-light" @click="close">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const moment = require('moment')
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    props: {
      id: {
        required: true,
        default: 0
      }
    },
    data() {
      return {
        point: '',
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    computed: {

    },
    methods: {
      close() {
        this.$emit('close')
      },
      save() {
        this.$store.dispatch('/',{
          point: this.point
        }).then(()=>{
          $.alert({
            title: '',
            content: 'บันทึกข้อมูลเรียบร้อยแล้ว'
          })
        this.$emit('close')
        }).catch((error) => {
          this.handleCatch(error)
        })
      }
    }
  }
</script>

<style lang="scss">
  .vue-modal-create-qrcode {
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 500px;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem 1rem 0;
            max-height: 60vh;

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
