<template>
  <div class="vue-modal-create-follow-up">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <form @submit.prevent="save">
            <div class="modal-header">
              <span>Create Promotion</span>
              <img src="../assets/icons/close_black.png" alt="" class="icon" @click="close">
            </div>

            <vue-perfect-scroll-bar class="modal-body">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title" v-model="title" required>
              </div>
              <div class="form-group">
                <label for="detail">Detail</label>
                <textarea name="detail" class="form-control" id="detail" rows="3" v-model="detail" required></textarea>
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" v-model="name" required>
              </div>
              <div class="form-group">
                <label for="mobile">Mobile</label>
                <input type="text" class="form-control" id="mobile" placeholder="Mobile" v-model="mobile" required @keypress="numOnly" maxlength="10">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="admin@toapoins.com" v-model="email">
              </div>
            </vue-perfect-scroll-bar>

            <div class="modal-footer">
              <button type="submit" class="btn btn-dark">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    const moment = require('moment')
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'

    export default {
        data() {
            return {
                title: '',
                detail: '',
                name: '',
                mobile: '',
                email: ''
            }
        },
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar
        },
        methods: {
            close() {
                this.$emit('close')
            },
            save() {
                this.$emit('save', {
                    title: this.title,
                    detail: this.detail,
                    name: this.name,
                    mobile: this.mobile,
                    email: this.email
                })
            },
            numOnly(evt) {
                evt = (evt) ? evt : window.event

                let charCode = (evt.which) ? evt.which : evt.keyCode

                if (!(charCode >= 48 && charCode <= 57) && charCode !== 46) {
                    evt.preventDefault()
                }
            }
        }
    }
</script>

<style lang="scss">
  .vue-modal-create-follow-up {
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 500px;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem 1rem 0;
            max-height: 60vh;

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
