<template>
  <div class="promotion-privilege-dialog">
    <div class="promotion-privilege-dialog-box">
      <div class="card">
        <div class="card-body privilege-image">
            <img :src="privilege.priv_image" alt="">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-xs-12 col-md-12 col-lg-6">
          <div class="form-group">
            <label for="privilege-name">Privilege Name</label>
            <input type="text" class="form-control" readonly disabled="disabled" id="privilege-name" :value="privilege.priv_name_th">
          </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6">
          <div class="form-group">
            <label for="privilege-point">Privilege Point</label>
            <input type="text" class="form-control" readonly disabled="disabled" id="privilege-point" :value="privilege.require_point">
          </div>
        </div>
      </div>

      <hr>

      <div class="row mt-3">
        <div class="col-xs-12 col-md-12 col-lg-6">
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" v-model="start_date" required>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6">
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" id="endDate" v-model="end_date" required>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6">
          <div class="form-group">
            <label for="promotionPoint">Promotion Point</label>
            <input type="text" class="form-control" id="promotionPoint" v-model="promotion_point" required>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-danger form-control">Delete</button>
<!--            <input type="text" class="form-control" id="promotionPoint" v-model="promotion_point" required>-->
<!--            <label for="action">&nbsp;</label>-->
<!--            <button id="action" class="btn btn-outline-danger">Delete</button>-->
<!--            <button class="btn btn-outline-dark">Save</button>-->
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
      props:{
          privilege: {
              required: true
          }
      },
      data(){
          return{
              start_date: '',
              end_date: '',
              promotion_point: 0
          }
      },
      methods:{
          loadPrivilegePromotion(){
              this.$store.dispatch('privilegePromotion/searchPrivilegePromotion', this.privilege.id)
                  .then((data)=>{
                      this.start_date = data.start_date
                      this.end_date = data.end_date
                      this.promotion_point = data.promotion_point
                  })
                  .catch((error)=>{
                      this.handleCatch(error)
                  })
          }
      },
      mounted() {
          this.loadPrivilegePromotion()
      }
  }
</script>

<style lang="scss">
  .promotion-privilege-dialog{
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, .5);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity .3s ease;

      .promotion-privilege-dialog-box {
        min-width: 500px;
        max-width: 80vw;
        min-height: 250px;
        margin: 0 auto;
        padding: 1rem;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;

        .privilege-image{
          display: flex;
          justify-content: center;
          img{
            width: 30%;
            min-width: 300px;
          }
        }
        .privilege-name, .privilege-point{
          .title{
            font-weight: 600;
          }
        }
      }
  }
</style>
