@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('fonts/Prompt/Prompt-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

html {
  font-family: 'Prompt', sans-serif !important;

  body {
    font-family: 'Prompt', sans-serif !important;

    .btn-outline-double-a {
      padding: 0.75rem 1.5rem;
      color: rgba(0, 81, 255, 1);
      border-color: rgba(0, 81, 255, 1);

      &:hover {
        color: rgba(0, 81, 255, 1);
        border-color: rgba(0, 81, 255, 1);
      }

      &.focus, &:focus {
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
      }

      &.disabled, &:disabled {
        color: rgba(0, 81, 255, 1);
        background-color: transparent
      }

      &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show > &.dropdown-toggle {
        color: rgba(0, 81, 255, 1);
        border-color: rgba(0, 81, 255, 1);
      }

      &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show > &.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
      }
    }

    .btn-double-a {
      padding: 0.75rem 1.5rem;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(0, 81, 255, 1);
      border-color: rgba(0, 81, 255, 1);

      &:hover {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 81, 255, 1);
        border-color: rgba(0, 81, 255, 1);
      }

      &.focus, &:focus {
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
      }

      &.disabled, &:disabled {
        color: rgba(255, 255, 255, 1);
        background-color: transparent
      }

      &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show > &.dropdown-toggle {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 81, 255, 1);
        border-color: rgba(255, 255, 255, 1);
      }

      &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show > &.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
      }
    }
  }
}

//// Older browsers (do now support CSS Environment variables).
//.selector {
//  height: 100%;
//}
//// Browsers which partially support CSS Environment variables (iOS 11.0-11.2).
//@supports (padding-top: constant(safe-area-inset-top)) {
//  .selector {
//    --safe-area-inset-top: constant(safe-area-inset-top);
//    height: calc(100% + var(--safe-area-inset-top));
//  }
//}
//// Browsers which fully support CSS Environment variables (iOS 11.2+).
//@supports (padding-top: env(safe-area-inset-top)) {
//  .selector {
//    --safe-area-inset-top: env(safe-area-inset-top);
//    height: calc(100% + var(--safe-area-inset-top));
//  }
//}
