<template>
  <div>
    <nuxt/>

    <!--    <loader v-if="user.loading || report.loading || dashboard.loading || selectedReport.loading"></loader>-->
    <loader
      v-if="user.loading || dashboard.loading || selectedReport.loading ||
      viewTemplate.loading || privilegePromotion.loading || banner.loading ||
      redemption.loading || transaction.loading || report.loading"></loader>


  </div>
</template>

<style>
  html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

  .button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
  }

  .button--green:hover {
    color: #fff;
    background-color: #3b8070;
  }

  .button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px;
  }

  .button--grey:hover {
    color: #fff;
    background-color: #35495e;
  }
</style>


<script>
    import 'bootstrap/dist/js/bootstrap.bundle';
    import * as _ from 'lodash'
    import 'jquery-confirm/dist/jquery-confirm.min.css'
    import {mapState} from 'vuex'
    import loader from '../components/Loader'

    export default {
        computed: {
            ...mapState({
                user: state => state.user,
                report: state => state.report,
                selectedReport: state => state.report.selectedReport,
                dashboard: state => state.dashboard,
                //assignSticker: state => state.assignSticker,
                //sticker: state => state.sticker,
                //materialPointSetting: state => state.materialPointSetting,
                viewTemplate: state => state.viewTemplate,
                privilegePromotion: state => state.privilegePromotion,
                //promotion: state => state.promotion,
                banner: state => state.banner,
                redemption: state => state.redemption,
                transaction: state => state.transaction,
                //duplicateCode: state => state.duplicateCode,
                //followUp: state => state.followUp,
            })
        },
        components: {
            loader
        },
        mounted() {
            if(this.$router.currentRoute.name !== 'privilege-detail'){
                this.$store.dispatch('user/mount').catch((error)=>{
                    this.handleCatch(error)
                })
            }
        }
    }
</script>
