<template>
  <div class="toa-main-page container-fluid">
    <div class="row">
      <div class="col-2 p-0 left-menu d-none d-lg-block" :class="{'slide-show': showLeftMenu}">
        <div class="menu">
          <div class="box-logo">
            <img src="../assets/icons/Logo_Transparent.png" class="img">
          </div>
          <div class="box-header">MAIN MENU</div>
          <div class="box-link" @click="redirectTo('/dashboard')" :class="{'active': checkPath('/dashboard')}">
            <span class="text" :class="{'active': checkPath('/dashboard')}">Dashboard</span>
          </div>
          <div class="box-link" @click="redirectTo('/customer')" :class="{'active': checkPath('/customer')}">
            <span class="text" :class="{'active': checkPath('/customer')}">Customer</span>
          </div>
          <!-- <div class="box-link" @click="redirectTo('/generate-sticker')"
               :class="{'active': checkPath('/generate-sticker')}">
            <span class="text" :class="{'active': checkPath('/generate-sticker')}">Generate Sticker</span>
          </div>
          <div class="box-link" @click="redirectTo('/assign-sticker')"
               :class="{'active': checkPath('/assign-sticker')}">
            <span class="text" :class="{'active': checkPath('/assign-sticker')}">Assign Sticker</span>
          </div> -->
          <div class="box-link" @click="redirectTo('/transaction')"
               :class="{'active': checkPath('/transaction')}">
            <span class="text" :class="{'active': checkPath('/transaction')}">Point Earning Transaction</span>
          </div>
          <!-- <div class="box-link" @click="redirectTo('/promotion')"
               :class="{'active': checkPath('/promotion')}">
            <span class="text" :class="{'active': checkPath('/promotion')}">Point Earning Promotion</span>
          </div>
          <div class="box-link" @click="redirectTo('/material-point')"
               :class="{'active': checkPath('/material-point')}">
            <span class="text" :class="{'active': checkPath('/material-point')}">Material Point Setting</span>
          </div> -->
          <div class="box-link" @click="redirectTo('/banner')"
               :class="{'active': checkPath('/banner')}">
            <span class="text" :class="{'active': checkPath('/banner')}">Banner Management</span>
          </div>
          <div class="box-link" @click="redirectTo('/redemption')"
               :class="{'active': checkPath('/redemption')}">
            <span class="text" :class="{'active': checkPath('/redemption')}">Delivery Management</span>
          </div>
          <!-- <div class="box-link" @click="redirectTo('/duplicate-code')"
               :class="{'active': checkPath('/duplicate-code')}">
            <span class="text" :class="{'active': checkPath('/duplicate-code')}">Duplicate Code</span>
          </div>
          <div class="box-link" @click="redirectTo('/follow-up')"
               :class="{'active': checkPath('/follow-up')}">
            <span class="text" :class="{'active': checkPath('/follow-up')}">Follow Up</span>
          </div> -->
          <div class="box-link" @click="redirectTo('/privilege-setting')"
               :class="{'active': checkPath('/privilege-setting')}">
            <span class="text" :class="{'active': checkPath('/privilege-setting')}">Privilege Setting</span>
          </div>
          <div class="box-link" @click="redirectTo('/report')" :class="{'active': checkPath('/report')}">
            <span class="text" :class="{'active': checkPath('/report')}">Report</span>
          </div>
          <div class="box-link" @click="redirectTo('/reportsetting')" :class="{'active': checkPath('/reportsetting')}">
            <span class="text" :class="{'active': checkPath('/reportsetting')}">Report Setting</span>
          </div>

          <div class="box-link  d-block d-lg-none" @click.prevent="openModalChangePassword">
            <span class="text" style="position: absolute;margin-top: 3px;">Change Password</span>
          </div>

          <div class="box-link  d-block d-lg-none" @click.prevent="logOut">
            <span class="text" style="position: absolute;margin-top: 3px;">Logout</span>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-12 p-0 content">
        <nav class="navbar navbar-expand-lg navbar-light nav-menu sticky-top" v-if="user.loaded">
          <button class="navbar-toggler" type="button" @click.prevent="openLeftMenu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="navbar-nav ml-auto flex-row d-none d-lg-block">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                {{ user.userProfile.first_name }} {{ user.userProfile.last_name }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" @click.prevent="openModalChangePassword">Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" @click="logOut">Logout</a>
              </div>
            </li>
          </ul>
        </nav>
        <vue-perfect-scroll-bar class="body">
          <nuxt-child/>
        </vue-perfect-scroll-bar>
      </div>
    </div>

    <modal-change-password v-if="changePasswordLoading" v-on:close="hideModalChangePassword"></modal-change-password>

  </div>
</template>

<script>
    import PermissionConstants from "../middleware/PermissionConstants";
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    // import 'bootstrap/dist/js/bootstrap.bundle';
    import ModalChangePassword from '../components/ChangePassword'
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                PermissionConstants: PermissionConstants,
                changePasswordLoading: false,
                showLeftMenu: false,
            }
        },
        methods: {
            openLeftMenu() {
                // console.log(this.showLeftMenu)
                this.showLeftMenu = !this.showLeftMenu
            },
            logOut() {
                $.confirm({
                    title: 'ยืนยัน',
                    content: 'คุณต้องออกจากระบบหรือไม่?',
                    buttons: {
                        pay: {
                            btnClass: 'btn-danger',
                            text: 'ตกลง',
                            action: () => {
                                localStorage.removeItem('token')
                                this.$router.replace('/login');
                            }

                        },
                        cancel: {
                            btnClass: 'btn-dark',
                            text: 'ยกเลิก',
                            action: () => {
                                return
                            }
                        }
                    }
                })
            },
            hideModalChangePassword() {
                this.changePasswordLoading = false
            },
            openModalChangePassword() {
                this.changePasswordLoading = true
            },
            checkPath(name) {
                let path = this.$route.path

                if (name === '/transport') {
                    let regex = new RegExp(/^\/transport(?:\/((?:[^\/]+?)))?(?:\/(?=$))?$/i)
                    if (name === path) {
                        return true
                    } else {
                        return regex.test(path)
                    }
                }

                if (name === '/duplicate-code') {
                    let regex = new RegExp(/^\/duplicate-code(?:\/((?:[^\/]+?)))?(?:\/(?=$))?$/i)
                    if (name === path) {
                        return true
                    } else {
                        return regex.test(path)
                    }
                }

                if (name === '/follow-up') {
                    let regex = new RegExp(/^\/follow-up(?:\/((?:[^\/]+?)))?(?:\/(?=$))?$/i)
                    if (name === path) {
                        return true
                    } else {
                        return regex.test(path)
                    }
                }

                // if (name === '/voucher') {
                //   let regex = new RegExp(/^\/voucher(?:\/((?:[^\/]+?)))?(?:\/(?=$))?$/i)
                //   if (name === path) {
                //     return true
                //   } else {
                //     return regex.test(path)
                //   }
                // }

                return (name === path)
            },
            redirectTo(name) {
                let path = this.$route.path
                if (path !== name) {
                    this.$router.push(name)
                }
            }
        },
        components: {
            ModalChangePassword,
            'vue-perfect-scroll-bar': VuePerfectScrollbar,
        },
        computed: {
            ...mapState({
                user: state => state.user,
                // masterData: state => state
            })
        },
        mounted() {
            if (localStorage.getItem('token') === '' || localStorage.getItem('token') === null || localStorage.getItem('token') === undefined) {
                this.$router.replace('/login');
                return
            }
            this.showLeftMenu = false
            this.$store.dispatch('user/mount').then((data) => {

            })
        }
    }
</script>

<style lang="scss" scoped>
  .toa-main-page {
    height: 100vh;

    .sticky-top {
      position: fixed;
    }

    table tr th {
      white-space: nowrap !important;
    }

    table tr td {
      white-space: nowrap !important;
    }

    @media (max-width: 991px) {
      .slide-show {
        margin-top: 55px;
        display: block !important;
        position: fixed;
        max-width: 200px;
        left: 0;
        z-index: 100;
        height: calc(100vh - 2px);
        /*background-color: white;*/
        overflow-y: auto;
      }
      .box-header[data-v-2a183b29] {
        padding: 0.75rem 1rem;
        color: #ffffff;
        /* color: black; */
      }
      .size-perfect-left-menu {
        height: calc(100vh - 70px);
      }

    }

    .size-perfect-left-menu {
      height: calc(100vh - 70px);
    }

    .left-menu {
      min-height: 100vh;
      background-color: black;

      .menu {
        position: sticky;
        top: 0;

        .box-logo {
          padding: 2rem 0 0;
          margin: 0 0 2rem;
          text-align: center;

          .img {
            width: 100%;
            max-width: 150px;
          }

          .logo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }
        }

        .box-link {
          padding: 0.75rem 1rem;
          margin: 0 0 0.25rem;
          display: flex;
          align-items: center;
          cursor: pointer;

          &:focus, &:hover {
            background-color: rgba(255, 255, 255, 0.1);

            .text {
              color: #dedede;
            }
          }

          &.active {
            background-color: rgba(255, 255, 255, 0.2);

            &:focus, &:hover {
              color: white;
            }
          }

          .icon {
            max-width: 30px;
          }

          .text {
            margin-left: 1rem;
            color: #9e9da2;

            &.active {
              color: white;
            }
          }
        }

        .box-header {
          padding: 0.75rem 1rem;
          color: #ffffff;
          /*color: black;*/
        }
      }
    }

    .content {
      height: 100vh;
      margin: 0;
      padding: 0;

      .nav-menu {
        position: sticky;
        top: 0;
        z-index: 1;
        height: 65px;
        background-color: #ffffff;
        backdrop-filter: blur(4px);
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nav-item {
          margin: 0 1rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          .nav-link {
            font-size: 16px;
            color: rgba(51, 51, 51, 1);
          }

          .icon {
            width: 100%;
            max-width: 22px;
          }
        }

      }

      .body {
        height: calc(100vh - 49px - 1rem);
      }
    }
  }
</style>
