<template>
  <div class="login-page container-fluid">
    <div class="row h-100">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 m-auto">
        <div class="row">
          <div class="col-12">
            <h3>Feyverly Login</h3>
          </div>
        </div>
        <form @submit.prevent="login">
          <div class="row mt-4">
            <div class="col-12">
              <input type="email" class="form-control" v-model="username" placeholder="Email" required>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <input type="password" class="form-control" v-model="password" placeholder="Password">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <button type="submit" class="btn btn-dark w-100">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import sha256 from 'sha256'
  import { mapState } from 'vuex'

  export default {
    data() {
      return {
        username: '',
        password: ''
      }
    },
    methods: {
      login() {
        this.$store.dispatch('user/login', {
          username: this.username,
          password: sha256(this.password),
        }).then((data) => {
          this.getMe()
        }).catch((error) => {
          this.handleCatch(error)
        })
      },
      getMe() {
        this.$store.dispatch('user/me')
          .then((data) => {
            this.$router.push('/')
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      }
    },
    computed:{
      ...mapState({
        user: state => state.user
      })
    },
    mounted() {
      if(this.$route.query.token){
        localStorage.setItem('token', JSON.stringify(this.$route.query.token));
        this.$store.dispatch('user/mount')
        this.getMe();
      }
    }
  }
</script>

<style lang="scss">
  .login-page {
    height: 100vh;

  }
</style>
