<template>
  <div class="container-fluid detail-page">
    <div class="content-container">
      <div style="padding-left: 10px;padding-right: 10px;" v-for="list in listDataImage">
        <div class="row">
          <div class="col-12">
            <div class="content mb-5" style="font-size: 18px;">
              <img :src="list.url" alt="" style="width: 100%;">
            </div>
          </div>
          <div class="col-12">
            <span v-html="listData.privilege_detail"></span>
          </div>
        </div>
      </div>
    </div>

    <loader v-if="loading"></loader>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import Loader from '../components/Loader'
  const {apiProjectFront} = process.env

  export default {

    data() {
      return {
        modalData: false,
        modalQR: false,
        showData: true,
        listData: {},
        params: '',
        dataItem: {},
        listDataImage: [],
        access_key: '',
        r: '',
        token: '',
        loading: false,
      }
    },

    mounted() {
      this.r = this.$route.query.id || ''
      this.token = this.$route.query.token || ''
      this.loadData();
    },
    components: {
      Loader,
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
    },
    methods: {
      loadData() {
        this.loading = true;
        this.$axios.get(`${apiProjectFront}/privilege-detail?id=` + this.r + '&token=' + this.token, {
          headers: {
            'Accept': 'application/json',
          }
        }).then(({data}) => {
          // console.log(data.Privilege)
          this.listData = data.Privilege
          this.listDataImage = data.Privilege.privilege_image
          this.dataItem = data.Privilege
        }).catch((error) => {
          // this.handleCatch(error)
        }).finally(() => {
          this.loading = false;
        })
      },
    },
  }
  // let vh = window.innerHeight * 0.01;
  // document.documentElement.style.setProperty('--vh', `${vh}px`);
</script>

<style lang="scss" scoped>
  .container-fluid {
    /*  height: calc(var(--vh, 1vh) * 100);*/
    /*}*/
    /*@media (max-width: 575.98px) {*/
    /*  .content-container {*/
    /*    position: fixed;*/
    /*    left: 0;*/
    /*    right: 0;*/
    /*    top: 0px;*/
    /*    bottom: 70px;*/
    /*    overflow-y: auto;*/
    /*    overflow-x: hidden;*/

    /*    &.disable-padding-bottom {*/
    /*      bottom: 0 !important;*/
    /*    }*/
    /*  }*/
    /*}*/

    .detail-page {
      /*max-width: 500px;*/
      max-height: 100vh;
      overflow-y: auto;

      .content-container {
        max-width: 500px;
        margin: auto;
      }

      .header {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          max-width: 100%;
          max-height: calc((100vh - 100px) / 3);
        }
      }

      .content {
        overflow: hidden;
        /*&.active {*/
        /*  @media screen and (max-height: 1200px) {*/
        /*    max-height: 605px;*/
        /*  }*/
        /*  @media screen and (max-height: 1200px) {*/
        /*    max-height: 455px;*/
        /*  }*/
        /*  @media screen and (max-height: 800px) {*/
        /*    max-height: 455px;*/
        /*  }*/
        /*  @media screen and (max-height: 700px) {*/
        /*    max-height: 405px;*/
        /*  }*/
        /*  @media screen and (max-height: 600px) {*/
        /*    max-height: 315px;*/
        /*  }*/
        /*  @media screen and (max-height: 500px) {*/
        /*    max-height: 245px;*/
        /*  }*/

      }
    }
  }
</style>
