<template>
  <div class="redemption-page container-fluid">
    <div class="card mt-3">
      <div class="card-header">
        Redemption
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
              <label for="dateFrom">Date From</label>
              <input type="date" class="form-control" id="dateFrom" v-model="date_from">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
              <label for="dateTo">Date To</label>
              <input type="date" class="form-control" id="dateTo" v-model="date_to" :min="minDate">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
              <label>&nbsp;</label>
              <input type="text" class="form-control" id="filter" v-model="textSearch"
                     placeholder="Text Search">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
              <label for="button">&nbsp;</label>
              <button type="button" id="button" class="btn btn-dark form-control" @click.prevent="searchData">
                Search
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Privilege</th>
              <th>Name</th>
              <th>Address</th>
              <th>Detail</th>
              <th>Postcode</th>
              <th>Create Date</th>
              <th>Update Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in redemptionList">
              <td>{{ item.privilege }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.address }}</td>
              <td>{{ item.detail }}</td>
              <td>{{ item.post_code }}</td>
              <td>{{ item.create_date }}</td>
              <td>{{ item.update_date }}</td>
              <td>{{ item.status }}</td>
              <td>
                <button class="btn btn-outline-dark" @click.prevent="updateStatus(item)"
                        v-if="item.status !== 'ได้รับสินค้าแล้ว'">Update Status
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    const moment = require('moment')

    export default {
        computed: {
            minDate() {
                return moment(this.date_from).format('YYYY-MM-DD')
            }
        },
        data() {
            return {
                redemptionList: [
                    {
                        id: 1,
                        privilege: 'Lotus',
                        name: 'Yutthaprach Channarong',
                        address: 'บริษัท เฟเวอร์ลี่ จำกัด 586 พุทธมณฑลสาย 2 ซอย 7',
                        detail: 'พุทธมณฑลสาย 2 ซอย 7 หรือ 11 เข้าซอยเทวิน 9 สุดซอย ขวามือเป็นบริษัท',
                        province: 'กรุงเทพฯ',
                        distinct: 'บางแคเหนือ',
                        sub_distinct: 'บางแค',
                        post_code: '10170',
                        create_date: '2019-12-24',
                        update_date: '2019-12-24',
                        status: 'รอตรวจสอบ'
                    }
                ],
                date_from: moment().add('-1', 'month').format('YYYY-MM-DD'),
                date_to: moment().format('YYYY-MM-DD'),
                textSearch: ''
            }
        },
        methods: {
            searchData() {

            },
            updateStatus(redemption) {
                let next_status = ''
                if (redemption.status === 'รอตรวจสอบ') {
                    next_status = 'รอจัดส่ง'
                } else if (redemption.status === 'รอจัดส่ง') {
                    next_status = 'จัดส่งแล้ว'
                } else {
                    next_status = 'ได้รับสินค้าแล้ว'
                }

                $.confirm({
                    title: 'Update Status',
                    content: `ยืนยันการเปลี่ยน Status ( สินค้า ${redemption.privilege} ของ ${redemption.name} ) จาก <b>${redemption.status}</b> เป็น <b>${next_status}</b> ใช่หรือไม่`,
                    buttons: {
                        submit: {
                            btnClass: 'btn-dark',
                            text: 'ยืนยัน',
                            action: () => {
                                redemption.status = next_status
                            }
                        },
                        cancel: {
                            btnClass: 'btn-outline-dark',
                            text: 'ยกเลิก',
                            action: () => {
                                return
                            }
                        }
                    }
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
  .redemption-page {

  }
</style>
