<template>
  <div class="privilege-setting-page container-fluid">
    <div class="card">
      <div class="card-title title row mb-0 pb-3">
        <div class="col-6">
          <span class="text-title">{{ title }}</span>
        </div>
        <div class="col-6" style="text-align: right">
          <button type="button" class="btn btn-dark" @click.prevent="createData">Create</button>
        </div>
      </div>
      <div class="card-body body">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
              <label for="dateFrom">Date From</label>
              <input type="date" class="form-control" id="dateFrom" v-model="date_from">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
              <label for="dateTo">Date To</label>
              <input type="date" class="form-control" id="dateTo" v-model="date_to" :min="minDate">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
              <label>&nbsp;</label>
              <input type="text" class="form-control" id="filter" v-model="textSearch"
                     placeholder="Text Search">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
              <label for="button">&nbsp;</label>
              <button type="button" id="button" class="btn btn-dark form-control" @click="searchData">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body body">
        <div class="row">
          <div class="col-12">
            <vue-perfect-scroll-bar class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <!--                  <th v-for="head in headerList">{{head.show}}</th>-->
                  <th v-for="(head, index) in headerList">
                    <div class="d-flex align-items-center justify-content-between">
                      <span>{{head.show}}</span>
                      <div class="d-flex flex-column pl-3">
                        <img src="../../../assets/icons/sort-up-active.png"
                             v-if="head.is_sort && sort && sort.sort_by_field === head.db_field_name && sort.sort_by === 'asc'"
                             class="icon-sort m-1" @click="sortData(head.db_field_name, 'asc')">
                        <img src="../../../assets/icons/sort-up.png"
                             v-if="head.is_sort && ((sort ? sort.sort_by_field === head.db_field_name && sort.sort_by !== 'asc' : true) || (sort ? sort.sort_by_field !== head.db_field_name : true))"
                             @click="sortData(head.db_field_name, 'asc')" class="icon-sort m-1">
                        <img src="../../../assets/icons/sort-down-active.png"
                             v-if="head.is_sort && sort && sort.sort_by_field === head.db_field_name && sort.sort_by === 'desc'"
                             @click="sortData(head.db_field_name, 'desc')" class="icon-sort m-1">
                        <img src="../../../assets/icons/sort-down.png"
                             v-if="head.is_sort && ((sort ? sort.sort_by_field === head.db_field_name && sort.sort_by !== 'desc' : true)  || (sort ? sort.sort_by_field !== head.db_field_name : true))"
                             @click="sortData(head.db_field_name, 'desc')" class="icon-sort m-1">
                      </div>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="list in listData">
                  <td v-for="(head, index) in headerList">
                    <img :src="list[head.field]" style="width: 80px"
                         v-if="checkImage(list[head.field])">
                    <span
                      v-if="!checkImage(list[head.field]) && head.type !== 'button' && head.field !== 'Action' && head.field !== 'Promotion' && head.type !== 'toggle'&& head.type !== 'dropdown'">{{ list[head.field] }}</span>

                    <input type="checkbox" v-if="head.type === 'toggle'" v-model="list[head.field]"
                           disabled>

                    <!--                    <select class="form-control" v-if="head.type === 'dropdown'"-->
                    <!--                            v-model="list[head.field]" disabled>-->
                    <!--                      <option :value="list.value" v-for="list in head.param_list">{{list.text}}</option>-->
                    <!--                    </select>-->
                    <span v-if="head.type === 'dropdown'">{{ searchTextByParamList(list[head.field], head.param_list) }}</span>

                    <button class="btn btn-dark mt-0"
                            v-if="head.type === 'button'"
                            @click.prevent="linkChild(list[head.field], list['id'])">
                      {{ head.field }}
                    </button>
                    <button class="btn btn-dark mt-0"
                            v-if="head.field === 'Action'"
                            @click.prevent="editTemplate(list[head.field])">
                      Edit
                    </button>
                    <button class="btn btn-dark mt-0"
                            v-if="head.field === 'Promotion'"
                            @click.prevent="setPromotion(list)">
                      Set Promotion
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </vue-perfect-scroll-bar>

            <ul class="pagination justify-content-end mt-3">
              <li class="page-item" :class="{'disabled': current_page === 1}"><a class="page-link" href="#"
                                                                                 @click.prevent="changePageNumber(1)">First</a>
              </li>
              <li class="page-item" :class="{'disabled': current_page === 1}"><a class="page-link" href="#"
                                                                                 @click.prevent="changePageNumber(current_page - 1)">&laquo;</a>
              </li>
              <li class="page-item" :class="{'active': pageNumber === range}" v-for="range in rangeWithDots"><a
                class="page-link" href="#" v-if="range === '...'">{{ range }}</a><a class="page-link" href="#" v-else
                                                                                    @click.prevent="changePageNumber(range)">{{
                range }}</a></li>
              <li class="page-item" :class="{'disabled': current_page === last_page}"><a class="page-link" href="#"
                                                                                         @click.prevent="changePageNumber(current_page + 1)">&raquo;</a>
              </li>
              <li class="page-item" :class="{'disabled': current_page === last_page}"><a class="page-link" href="#"
                                                                                         @click.prevent="changePageNumber(last_page)">Last</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <promotion-privilege v-if="is_show_promotion_privilege" :privilege="promotion_privilege"></promotion-privilege>
  </div>
</template>

<script>
    const moment = require('moment')
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import {mapState} from 'vuex'
    import PromotionPrivilege from "../../../components/PromotionPrivilege";

    export default {
        data() {
            return {
                templateTableId: 8,
                title: '',
                listData: [],
                pageNumber: 1,
                current_page: 1,
                last_page: 1,
                rangeWithDots: [],
                headerTable: [],
                date_from: moment().add('-1', 'year').format('YYYY-MM-DD'),
                date_to: moment().format('YYYY-MM-DD'),
                textSearch: '',
                sort: null,
                is_show_promotion_privilege: false,
                promotion_privilege: null
            }
        },
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar,
            PromotionPrivilege
        },
        computed: {
            ...mapState({
                user: state => state.user,
                viewTemplate: state => state.viewTemplate
            }),
            minDate() {
                return moment(this.date_from).format('YYYY-MM-DD')
            },
            headerList() {
                let data = this.headerTable
                let header = []
                if (data) {
                    header = _.compact(
                        _.map(data, (value) => {
                            if (value.show_in_table) {
                                return {
                                    field: value.db_field_name,
                                    show: value.field_caption,
                                    type: value.field_type,
                                    is_sort: value.is_sort,
                                    db_field_name: value.db_field_name,
                                    param_list: value.param_list
                                }
                            }
                        })
                    )
                    header.push({
                        field: 'Action',
                        show: 'Action'
                    })
                    // header.push({
                    //     field: 'Promotion',
                    //     show: 'Promotion'
                    // })
                }
                return header
            },
        },
        watch: {
            'user.loaded'(loaded) {
                if (loaded) {
                    this.loadData()
                }
            },
            '$route.params.templateTableId'() {
                this.loadData()
            }
        },
        mounted() {
            $('.body').scrollTop(0)
            // this.templateTableId = this.$route.params.templateTableId

            if (this.user.loaded) {
                this.loadData()
            }
        },
        methods: {
            searchTextByParamList(value, list) {
              let objValue = _.find(list, (item) => {
                return item.value === value
              })

                if(objValue){
                    return objValue.text
                }else{
                    return ''
                }
            },
            setPromotion(privilege) {
                this.promotion_privilege = privilege
                this.is_show_promotion_privilege = true
            },
            sortData(field, type) {
                this.sort = {
                    sort_by_field: field,
                    sort_by: type
                }
                this.loadData()
            },
            loadData() {
                this.$store.dispatch('viewTemplate/getTableData', {
                    table_id: this.templateTableId,
                    page: this.pageNumber,
                    date_from: this.date_from,
                    date_to: this.date_to,
                    textSearch: this.textSearch,
                    sort_by_field: (this.sort ? this.sort.sort_by_field : ''),
                    sort_by: (this.sort ? this.sort.sort_by : ''),
                    root_id: ''
                }).then((data) => {
                    this.title = data.title
                    this.headerTable = data.header
                    this.listData = _.map(data.content.data, (item, index) => {
                        item = Object.assign({}, item, {Action: item.id})
                        // item = Object.assign({}, item, {Promotion: item.id})
                        return item
                    })
                    this.last_page = data.content.last_page
                    this.current_page = data.content.current_page
                    this.sort = data.sort
                    this.pagination();
                }).catch((error) => {
                    this.handleCatch(error)
                })
            },
            editTemplate(fieldId) {
                this.sort_by_field = ''
                this.sort_by = ''
                this.$router.push(`/privilege-setting/${fieldId}`)
            },
            linkChild(childId, rootId = null) {
                this.sort_by_field = ''
                this.sort_by = ''
                if (childId === '11') {
                    this.$router.push(`/privilege-quota-setting?rootId=${rootId}`)
                }
                if (childId === '10') {
                    this.$router.push(`/privilege-for-user-level-setting?rootId=${rootId}`)
                }
                // this.templateTableId = childId

                // this.$router.push(`/template/${childId}`)
            },
            checkImage(list) {
                if (list) {
                    if (list.toString().match(/.(jpg|jpeg|png)$/i)) {
                        return true
                    }
                }
                return false
            },
            createData() {
                this.$router.push(`/privilege-setting/create`)
            },
            changePageNumber(number) {
                this.pageNumber = number
                this.loadData()
            },
            pagination() {
                let current = this.current_page
                let last = this.last_page
                let delta = 3
                let left = current - delta
                let right = current + delta + 1
                let min = delta * 2 + 1
                let range = []
                this.rangeWithDots = []
                let l

                for (let i = 1; i <= last; i++) {
                    if (i >= left && i < right) {
                        range.push(i)
                    }
                }

                for (let i of range) {
                    if (l) {
                        if (i - l === 2) {
                            this.rangeWithDots.push(l + 1)
                        } else if (i - l !== 1) {
                            this.rangeWithDots.push('...')
                        }
                    }
                    this.rangeWithDots.push(i)
                    l = i
                }
            },
            searchData() {
                this.loadData()
            },
        }
    }
</script>

<style lang="scss" scoped>
  .privilege-setting-page {
    /*min-height: calc(100vh - 65px);*/
    background-color: #f6f8fa;
    padding: 1rem;

    table tr th {
      white-space: nowrap !important;
    }

    /*table tr td {*/
    /*  white-space: nowrap !important;*/
    /*}*/

    .font-size {
      font-size: 14px;
      font-weight: normal;
    }

    .icon-sort {
      height: 6px;
      cursor: pointer;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;

      .text-title {
        flex: 1 0;
      }

      .action-title {
        flex: 0 0;
        display: flex;

        .box-input {
          position: relative;
          width: 310px;
          margin-right: 1rem;

          .icon {
            position: absolute;
            top: 12px;
            left: 12px;
            height: 16px;
          }

          .form-control {
            padding-left: 40px;
          }
        }

        .btn {
          display: flex;
          align-items: center;

          .icon {
            height: 12px;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .body {
      .table {
        thead {
          font-weight: normal;
          color: #858585;

          th{
            vertical-align: middle;
          }
        }

        tbody {
          tr {
            td {
              vertical-align: inherit;

              &.action {
                .btn {
                  display: inline-flex;
                  align-items: center;
                  vertical-align: middle;
                  margin-right: 0.25rem;

                  .icon {
                    height: 12px;
                    margin-right: 0.25rem;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
</style>
